@charset "UTF-8";

@import url("reset.css");

@import url("return-to-home.css");

body {
	color: #333;
	font-family: sans-serif;
	font-size: 12px;
	/*
	word-break: break-all;
	word-wrap: break-word;
	*/
}

a:link {
	color: #005a9c;
	text-decoration: none;
}
a:visited {
	color: #005a9c;
	text-decoration: none;
}
a:hover {
	color: #aa7;
	position: relative;
	top: 1px;
}

input, select, textarea {
	font-family: sans-serif;
	font-size: 12px;
}


/*--------------------------------------
  Main
--------------------------------------*/
.main {
	text-align: center;
}


/*--------------------------------------
  Header
--------------------------------------*/
.header {
}

	h1 {
		color: #fff\9;
		filter: shadow(color=#333333,direction=120); /* for IE9- */
		font-size: 32px;
		font-variant: small-caps;
		height: 100%;
		padding: 10px 0;
	}
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { /* for IE10+ */
		h1 {
			color: #333;
		}
	}
	h1 sub {
		display: block;
		font-size: 50%;
		* font-size: 100%;
		font-size: 100%\0;
	}


/*--------------------------------------
  Navbar
--------------------------------------*/
.navbar {
	background: #eee;
	border-top: 3px solid #808080;
	padding: 5px 0;
}
.navbar ul li {
	display: inline;
}


/*--------------------------------------
  Container
--------------------------------------*/
.container {
	padding: 0 20px;
	text-align: left;
}

	/* Subnav */
	.subnav {
		border-color: transparent #ddd #ddd #ddd;
		border-style: none solid solid solid;
		border-width: 0 1px 1px 5px;
		padding: 5px;
		text-align: center;
	}
	.subnav li {
		display: inline;
	}

	/* Elements */
	h2 {
		border-bottom: 1px solid #c0c0c0;
		font-size: 16px;
		line-height: 1.5;
		margin-top: 20px;
		padding-bottom: 5px;
	}
	h2 a {
		cursor: pointer;
	}

	table {
		border: 1px solid #ddd;
		margin-top: 5px;
	}
	caption {
		font-size: 14px;
		font-weight: bold;
		padding: 5px 0;
		text-align: left;
	}
	caption:first-letter {
		font-size: 120%;
		font-style: italic;
	}
	th {
		background: #f0f8ff;
		border-color: #ddd;
		border-style: dashed;
		border-width: 1px;
		padding: 5px;
	}
	td {
		border-color: #ddd;
		border-style: dashed;
		border-width: 1px;
		padding: 5px;
	}

	td.dimmed {
		background: #eee;
	}

	em {
		color: navy;
	}

	strong {
		color: maroon;
	}


/*--------------------------------------
  Footer
--------------------------------------*/
.iframe-footer {
	height: 30px;
	margin-top: 20px;
	width: 100%;
}

.footer {
	background: #eee;
	border-top: 3px solid #808080;
	padding: 5px 0;
	text-align: center;
}
