@charset "UTF-8";

@import url("reset.css");

@import url("return-to-home.css");

body {
	color: #333;
	font-family: sans-serif;
	font-size: 12px;
	margin: 15px 10px;
	/*
	word-break: break-all;
	word-wrap: break-word;
	*/
}

a:link {
}
a:visited {
}
a:hover {
	position: relative;
	top: 1px;
}

input, select, textarea {
	font-family: sans-serif;
	font-size: 12px;
}


/*--------------------------------------
  Main
--------------------------------------*/
.main {
	text-align: center;
}


/*--------------------------------------
  Header
--------------------------------------*/
.header {
	margin: 0 auto;
}

	h1 {
		color: #fff\9;
		filter: shadow(color=#333333,direction=120); /* for IE9- */
		font-size: 32px;
		font-variant: small-caps;
		height: 100%;
		padding: 10px 0;
	}
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { /* for IE10+ */
		h1 {
			color: #333;
		}
	}
	h1 sub {
		display: block;
		font-size: 85%;
		* font-size: 100%;
		font-size: 100%\0;
	}


/*--------------------------------------
  Navbar
--------------------------------------*/
.navbar {
	background: #eee;
	border-top: 3px solid #808080;
	margin: 0 auto;
	padding: 5px 0;
}
.navbar ul li {
	display: inline;
}


/*--------------------------------------
  Container
--------------------------------------*/
.container {
	margin: 0 auto;
	text-align: left;
	width: 95%;
}

	/* Subnav */
	.subnav {
		border-color: #ddd #ddd #ddd #808080;
		border-style: solid;
		border-width: 1px 1px 1px 5px;
		margin-top: 5px;
		padding: 5px;
	}
	.subnav li {
		display: inline;
	}

	/* Elements */
	h2 {
		border-bottom: 1px solid #808080;
		color: #005a9c;
		font-size: 22px;
		line-height: 1.5;
		margin-top: 20px;
	}
	h2 a {
		cursor: pointer;
	}
	h2 a span {
		font-size: 50%;
	}

	h3 {
		color: #aa7;
		font-size: 16px;
		margin-top: 10px;
	}
	h3:first-letter {
		font-size: 120%;
		font-style: italic;
	}
	h3 a {
		border-bottom: 1px dashed #aa7;
	}
	h3 sup a {
		border-bottom: none;
	}

	pre {
		font-family: "Courier New", monospace;
		margin-top: 5px;
	}

	pre span {
		text-decoration: line-through;
	}

	dl {
		margin-top: 5px;
	}
	dt {
	}
	dd {
	}

	table {
		border: 1px solid #808080;
		margin-top: 5px;
	}
	caption {
		font-weight: bold;
	}
	th {
		background: #f0f8ff;
		border-color: transparent #808080 #c0c0c0 #808080;
		border-style: none dashed solid dashed;
		border-width: 0 1px 2px 1px;
		padding: 5px;
		text-align: center;
	}
	td {
		border-color: #808080;
		border-style: solid dashed;
		border-width: 1px;
		padding: 5px;
	}

	td.dimmed {
		background: #eee;
	}

	code {
		background: #ddd;
		font-family: "Courier New", monospace;
		font-style: italic;
	}

	em {
		color: navy;
	}

	strong {
		color: maroon;
	}

	sup {
		font-size: 70%;
		* font-size: 100%;
		font-size: 100%\0;
	}

	blockquote {
		margin-top: 10px;
		text-indent: 1em;
	}


/*--------------------------------------
  Footer
--------------------------------------*/
.iframe-footer {
	height: 30px;
	margin-top: 20px;
	width: 100%;
}

.body-footer {
	margin: 0;
}

.footer {
	background: #eee;
	border-top: 3px solid #808080;
	padding: 5px 0;
	text-align: center;
}
