@charset "UTF-8";

@import "reset.css";

body {
	color: #333;
	font-family: sans-serif;
	font-size: 12px;
}

a:link {
	color: #005a9c;
	text-decoration: none;
}
a:visited {
	color: #005a9c;
	text-decoration: none;
}
a:hover {
	color: #aa7;
	position: relative;
	top: 1px;
}

input, select, textarea {
	font-family: sans-serif;
	font-size: 12px;
}


/*--------------------------------------
  Main
--------------------------------------*/
.main {
	text-align: center;
}


/*--------------------------------------
  Header
--------------------------------------*/
.header {
	padding: 10px 0;
}

	h1 {
		color: #eee;
		filter: shadow(color=#333333, direction=120); /* for IE9- */
		font-size: 32px;
		font-variant: small-caps;
		line-height: 1em;
		text-shadow: #666 2px 2px 2px; /* for IE10+, Std */
		width: 100%;
	}
	h1 sub {
		display: block;
		font-size: 50%;
	}


/*--------------------------------------
  Navbar
--------------------------------------*/
.navbar {
	background: #eee;
	border-top: 2px solid #808080;
	padding: 5px 0;
}
.navbar ul li {
	display: inline;
}


/*--------------------------------------
  Container
--------------------------------------*/
.container {
	padding: 0 20px;
	text-align: left;
}

	/* Subnav */
	.subnav {
		background: #fff;
		border-color: transparent #ddd #ddd #ddd;
		border-style: none solid solid solid;
		border-width: 0 1px 1px 5px;
		padding: 5px;
		position: sticky; /* for Std */
		text-align: center;
		top: 0;
	}
	.subnav li {
		display: inline;
	}

	/* Elements */
	h2 {
		border-bottom: 1px solid #c0c0c0;
		font-size: 16px;
		line-height: 1.5;
		margin-top: 20px;
		padding-bottom: 5px;
	}
	h2 a {
		cursor: pointer;
	}

	table {
		border: 1px solid #ddd;
		margin-top: 5px;
	}
	caption {
		font-size: 14px;
		font-weight: bold;
		padding: 5px 0;
	}
	caption:first-letter {
		font-size: 120%;
		font-style: italic;
	}
	th, td {
		border: 1px dashed #ddd;
	}
	th {
		background: #f0f8ff;
	}
	td.empty {
		background: #eee;
	}

	em {
		color: navy;
	}

	strong {
		color: maroon;
	}


/*--------------------------------------
  Footer
--------------------------------------*/
.iframe-footer {
	height: 30px;
	margin-top: 20px;
	width: 100%;
}

.footer {
	background: #eee;
	border-top: 2px solid #808080;
	padding: 5px 0;
	text-align: center;
}
.footer a:link,
.footer a:visited {
	color: #333;
}
.footer a:hover {
	top: 0;
}
