@charset "UTF-8";

* html { /* for IE6 */
	overflow-x: hidden;
}
* html body { /* for IE6 */
	overflow-x: hidden;
}

body {
	background: #333;
	color: #c0c0c0;
	font-family: sans-serif;
	font-size: 12px;
	/*
	word-break: break-all;
	word-wrap: break-word;
	*/
}

a:link {
	color: #c0c0c0;
	text-decoration: none;
}
a:visited {
	color: #c0c0c0;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration: underline;
}
a:active {
}

input, select, textarea {
	font-family: sans-serif;
	font-size: 12px;
}


/* Body */
.body-home {
}


/*--------------------------------------
  Main
--------------------------------------*/
.main {
	text-align: center;
}


/*--------------------------------------
  Header
--------------------------------------*/
.iframe-header {
	height: 120px;
	width: 100%;
}

.body-header {
	background: #333 url("../images/hr.png") repeat-x 0 bottom;
	border-top: 5px solid #555;
	height: 115px;
	text-align: center;
}

.header {
	margin: 0 auto;
	position: relative;
	text-align: left;
	width: 720px;
}

	/* Logo */
	h1#logo {
		display: none;
		float: left;
		position: relative;
		top: 20px;
	}
	h1#logo a:hover {
		position: relative;
		top: 1px;
	}
	h1#logo span {
		display: none;
	}

	/* Navbar */
	#navbar {
		font-family: Georgia;
		text-align: center;
	}
	#navbar ul {
		text-transform: uppercase;
	}
	#navbar ul li {
		float: right;
	}
	#navbar a {
		background: #555;
		float: left;
		height: 25px;
		line-height: 25px;
		margin-left: 5px;
		padding: 0 15px;
	}
	#navbar a:hover {
		text-decoration: none;
	}

	#navbar .highlight {
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		height: 35px;
		line-height: 35px;
	}

	/* Clock */
	#clock {
		position: absolute;
		right: 0;
		text-align: right;
		top: 95px;
	}


/*--------------------------------------
  Container
--------------------------------------*/
.container {
	margin: 0 auto;
	text-align: left;
	width: 720px;
}

.body-home .container {
	text-align: center;
	width: 960px;
}

	/* Heading */
	h2.heading {
		font-family: Georgia;
		font-size: 24px;
		font-variant: small-caps;
		margin-top: 20px;
	}
	h2.heading span {
		border-bottom: 1px dashed;
	}

	h3.subheading {
		border-left: 10px solid #555;
		font-size: 16px;
		font-variant: small-caps;
		margin-top: 20px;
		text-indent: 10px;
	}
	h3.subheading span {
		border-bottom: 1px dashed;
	}

	/* Layer */
	div.layer {
		clear: both;
		overflow: hidden;
		width: 100%;
	}

	/*--------------------------------------
	  home.html
	--------------------------------------*/
	#overview {
		font-family: "Comic Sans MS";
		font-size: 14px;
		margin-top: 20px;
	}
	#overview a:hover {
		border-bottom: 2px solid #08c;
		position: relative;
		text-decoration: none;
		top: 1px;
	}

	/* Catalog */
	.catalog {
		margin: 20px auto 0 auto;
		overflow: hidden;
		text-align: left;
		width: 720px;
	}
	.catalog .layer {
		clear: none;
		float: left;
		width: 240px;
	}
	.catalog .layer ul {
		border-left: 1px dotted #555;
		line-height: 2;
		margin: 5px 0 0 4px;
		text-indent: 15px;
	}
	.catalog .layer ul em {
		color: #08c;
		font-variant: small-caps;
	}

	/*--------------------------------------
	  works.html
	--------------------------------------*/
	.works {
		margin-top: 5px;
	}
	.works ul {
		line-height: 2;
	}
	.works ul li {
		background: url("../images/bullet-circle.png") no-repeat 0 10px;
		padding-left: 10px;
	}

	/* Gallery */
	.gallery {
		border-left: 1px dashed #555;
		margin: 5px 0 0 4px;
		overflow: hidden;
		width: 100%;
		word-break: break-all;
		word-wrap: break-word;
	}
	.gallery li {
		float: left;
		margin: 5px 0;
		text-align: center;
		width: 25%;
	}
	.gallery a {
		border-color: #555;
		border-style: solid;
		border-width: 5px 5px 20px 5px;
		display: block;
		height: 200px;
		margin: 0 auto;
		width: 150px;
	}
	.gallery a:hover {
		border-color: #fff;
	}
	.gallery a img {
		height: 100%;
		width: 100%;
	}
	.gallery div {
		margin-top: 5px;
	}

	/*--------------------------------------
	  about.html
	--------------------------------------*/
	.devices,
	.timeline {
		margin-top: 5px;
	}

	.devices ol,
	.timeline ol {
		float: left;
		font-weight: bold;
		line-height: 2;
	}

	.devices ol {
		border-left: 1px dotted #555;
		left: 4px;
		position: relative;
	}

	.devices ol li {
		text-indent: 15px;
	}

	.devices ul,
	.timeline ul {
		float: left;
		left: 10px;
		line-height: 2;
		position: relative;
	}

	.timeline ol li {
		text-align: center;
	}
	.timeline ul li {
		width: 100%;
	}

	.timeline dl {
	}
	.timeline dt {
		font-weight: bold;
	}
	.timeline dd {
		background: url("../images/bullet-square.png") no-repeat 0 center;
		text-indent: 10px;
	}


/*--------------------------------------
  Toolbar
--------------------------------------*/
.iframe-toolbar {
	height: 104px;
	margin: 20px auto 0 auto;
	width: 720px;
}

.body-toolbar {
	background: #222 url("../images/hr.png") repeat-x;
	margin: 0 auto;
	width: 680px;
}

	/* Subnav */
	#subnav {
		float: left;
		margin-top: 20px;
		width: 250px;
	}
	#subnav ul li {
		height: 20px;
		line-height: 20px;
		margin-bottom: 2px;
		* margin-bottom: -2px;
	}
	#subnav a {
		cursor: pointer;
		display: block;
		height: 100%;
	}
	#subnav a:hover {
		text-decoration: none;
	}
	#subnav em {
		float: left;
		font-family: Georgia;
		font-size: 14px;
		font-style: italic;
		font-weight: bold;
		text-indent: 15px;
	}
	#subnav span {
		float: left;
		height: 100%;
		width: 5px;
	}

	#subnav .highlight {
		color: #fff;
		padding-right: 20px;
	}

	/* Colors */
	.color-1 em {
		color: #f20201;
	}
	.color-1 span {
		background: #f20201;
	}
	.color-2 em {
		color: #f44a19;
	}
	.color-2 span {
		background: #f44a19;
	}
	.color-3 em {
		color: #29c823;
	}
	.color-3 span {
		background: #29c823;
	}
	.color-4 em {
		color: #ffe104;
	}
	.color-4 span {
		background: #ffe104;
	}
	.color-5 em {
		color: #04baff;
	}
	.color-5 span {
		background: #04baff;
	}

	/* Search */
	.search {
		float: right;
		text-align: right;
		width: 50%
	}
	.search h3.subheading {
		border-left: none;
		border-right: 10px solid #555;
		padding-right: 10px;
		text-indent: 0;
	}
	.search .form {
		border-right: 1px dashed #555;
		margin: 5px 4px 0 0;
		padding-right: 15px;
	}


/*--------------------------------------
  Footer
--------------------------------------*/
.iframe-footer {
	height: 50px;
	margin-top: 20px;
	width: 100%;
}

.body-footer {
	background: #333 url("../images/hr.png") repeat-x;
	text-align: center;
}

.footer {
	margin: 0 auto;
	position: relative;
	width: 720px;
}

	.copyright {
		/*float: right;*/
		line-height: 50px;
	}

	.valid {
		color: #808080;
	}
	.valid a {
		color: #808080;
		text-decoration: underline;
	}
	.valid a:hover {
		color: #fff;
	}
