@charset "UTF-8";

* html { /* for IE6 */
overflow-x: hidden;
}

* html body { /* for IE6 */
overflow-x: hidden;
}
body {
background: #333;
color: #c0c0c0;
font-family: "Lucida Grande", "Lucida Sans Unicode", /*"Helvetica Neue", Arial,*/ "Lantinghei SC", "Microsoft YaHei", sans-serif;
font-size: 12px;
/*
word-break: break-all;
word-wrap: break-word;
*/
}

a:link {
color: #c0c0c0;
text-decoration: none;
}
a:visited {
color: #c0c0c0;
text-decoration: none;
}
a:hover {
color: #fff;
text-decoration: underline;
}
a:active {
}

input, select, textarea {
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lantinghei SC", "Microsoft YaHei", sans-serif;
font-size: 12px;
}


/**/
.body-home {
}


/*--------------------------------------
  HEADER
--------------------------------------*/
.iframe-header {
height: 120px;
width: 100%;
}

.body-header {
background: #333 url("../images/hr.png") repeat-x 0 bottom;
border-top: 5px solid #555;
height: 115px;
text-align: center;
}

.header {
margin: 0 auto;
position: relative;
text-align: left;
width: 720px;
}

	/**/
	h1#logo {
	display: none;
	float: left;
	position: relative;
	top: 20px;
	}
	h1#logo a:hover {
	position: relative;
	top: 1px;
	}
	h1#logo span {
	display: none;
	}

	/**/
	#navbar {
	font-family: Georgia;
	text-align: center;
	}
	#navbar ul {
	text-transform: uppercase;
	}
	#navbar ul li {
	float: right;
	}
	#navbar a {
	background: #555;
	float: left;
	height: 25px;
	line-height: 25px;
	margin-left: 5px;
	padding: 0 15px;
	}
	#navbar a:hover {
	text-decoration: none;
	}
	#navbar a span {
	}

	#navbar .original {
	color: #c0c0c0;
	height: 25px;
	line-height: 25px;
	}
	#navbar .highlight {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	}

	/**/
	#clock {
	position: absolute;
	right: 0;
	text-align: right;
	top: 95px;
	}


/*--------------------------------------
  MAIN
--------------------------------------*/
.main {
text-align: center;
}


/*--------------------------------------
  CONTAINER
--------------------------------------*/
.container {
}


/*--------------------------------------
  CONTENT
--------------------------------------*/
.content {
margin: 0 auto;
text-align: left;
width: 720px;
}

/**/
.body-home .content {
text-align: center;
width: 960px;
}

	/**/
	h2.heading {
	font-family: Georgia;
	font-size: 24px;
	font-variant: small-caps;
	margin-top: 20px;
	}
	h2.heading span {
	border-bottom: 1px dashed;
	}

	h3.subheading {
	border-left: 10px solid #555;
	font-size: 16px;
	font-variant: small-caps;
	margin-top: 20px;
	text-indent: 10px;
	}
	h3.subheading span {
	border-bottom: 1px dashed;
	}

	/**/
	div.layer {
	clear: both;
	overflow: hidden;
	width: 100%;
	}

	/*--------------------------------------
	  home.html
	--------------------------------------*/
	#overview {
	font-family: "Comic Sans MS", "Lantinghei SC", "Microsoft YaHei";
	margin-top: 20px;
	}
	#overview a {
	}
	#overview a:hover {
	border-bottom: 2px solid #08c;
	position: relative;
	text-decoration: none;
	top: 1px;
	}
	#overview ul li {
	display: inline;
	}

	/**/
	.font-1 {
	font-size: 0.8em;
	}
	.font-2 {
	font-size: 1.2em;
	}
	.font-3 {
	font-size: 1.5em;
	}
	.font-4 {
	font-size: 1.8em;
	}
	.font-5 {
	font-size: 2em;
	}
	.font-6 {
	font-size: 2.4em;
	}
	.font-7 {
	font-size: 2.8em;
	}
	.font-8 {
	font-size: 3.0em;
	}
	.font-9 {
	font-size: 3.2em;
	}

	/**/
	.catalog {
	margin: 20px auto 0 auto;
	overflow: hidden;
	text-align: left;
	width: 720px;
	}
	.catalog .layer {
	clear: none;
	float: left;
	width: 240px;
	}
	.catalog .layer ul {
	line-height: 2;
	margin-top: 5px;
	text-indent: 10px;
	}
	.catalog .layer ul li {
	background: url("../images/bullet-square.png") no-repeat 0 center;
	}
	.catalog .layer ul em {
	color: #08c;
	font-variant: small-caps;
	}

	/*--------------------------------------
	  works.html
	--------------------------------------*/
	.works {
	margin-top: 5px;
	}
	.works ul {
	line-height: 2;
	text-indent: 10px;
	}
	.works ul li {
	background: url("../images/bullet-square.png") no-repeat 0 center;
	}

	/**/
	.gallery {
	text-align: center;
	word-break: break-all;
	word-wrap: break-word;
	}
	.gallery li {
	float: left;
	margin-top: 10px;
	width: 25%;
	}
	.gallery div a img {
	border-color: #555;
	border-style: solid;
	border-width: 5px 5px 20px 5px;
	height: 200px;
	width: 150px;
	}
	.gallery div a:hover img {
	border-color: inherit;
	}
	.gallery p {
	margin-top: 5px;
	}
	.gallery em {
	color: #808080;
	}

	/*--------------------------------------
	  about.html
	--------------------------------------*/
	.contact,
	.hardware,
	.timeline {
	margin-top: 5px;
	}

	.timeline dl {
	}
	.timeline dt {
	font-weight: bold;
	}
	.timeline dd {
	background: url("../images/bullet-circle.png") no-repeat 0 center;
	text-indent: 10px;
	}

	.contact ol,
	.hardware ol,
	.timeline ol {
	float: left;
	font-weight: bold;
	line-height: 2;
	}

	.contact ol li,
	.hardware ol li {
	background: url("../images/bullet-square.png") no-repeat 0 10px;
	text-indent: 10px;
	}

	.contact ul,
	.hardware ul,
	.timeline ul {
	float: left;
	left: 10px;
	line-height: 2;
	position: relative;
	}

	.timeline ul li {
	width: 100%;
	}

	/*--------------------------------------
	  search.html
	--------------------------------------*/
	.iframe-search {
	/*height: 150px;*/
	height: 125px;
	margin: 20px auto 0 auto;
	width: 720px;
	}

	.body-search {
	background: #222 url("../images/hr.png") repeat-x;
	margin: 0 auto;
	width: 680px;
	}

	.search {
	float: right;
	text-align: right;
	width: 50%
	}
	.search h3.subheading {
	border-left: none;
	border-right: 10px solid #555;
	padding-right: 10px;
	text-indent: 0;
	}
	.search .form {
	margin-top: 5px;
	}

	/**/
	#subnav {
	float: left;
	margin-top: 20px;
	width: 250px;
	}
	#subnav ul li {
	height: 20px;
	line-height: 20px;
	margin-bottom: 2px;
	* margin-bottom: -2px;
	}
	#subnav a {
	cursor: pointer;
	display: block;
	height: 100%;
	}
	#subnav a:hover {
	text-decoration: none;
	}
	#subnav em {
	float: left;
	font-family: Georgia;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	text-indent: 15px;
	width: 195px;
	}
	#subnav span {
	float: left;
	height: 100%;
	width: 5px;
	}

	#subnav .highlight {
	color: #000;
	}

	/**/
	.color-1 em {
	color: #f20201;
	}
	.color-1 span {
	background: #f20201;
	}
	.color-2 em {
	color: #f44a19;
	}
	.color-2 span {
	background: #f44a19;
	}
	.color-3 em {
	color: #29c823;
	}
	.color-3 span {
	background: #29c823;
	}
	.color-4 em {
	color: #ffe104;
	}
	.color-4 span {
	background: #ffe104;
	}
	.color-5 em {
	color: #04baff;
	}
	.color-5 span {
	background: #04baff;
	}

	/*--------------------------------------
	  search-results.html
	--------------------------------------*/
	.search-results {
	margin-top: 5px;
	}

	/*--------------------------------------
	  sitemap.html
	--------------------------------------*/
	.sitemap {
	margin-top: 5px;
	}
	.sitemap dt {
	background: url("../images/bullet-square.png") no-repeat 0 center;
	line-height: 2.5;
	text-indent: 10px;
	}
	.sitemap dd {
	overflow: auto;
	text-indent: 10px;
	width: 100%;
	}
	.sitemap dd a {
	float: left;
	}


/*--------------------------------------
  FOOTER
--------------------------------------*/
.iframe-footer {
height: 50px;
margin-top: 20px;
width: 100%;
}

.body-footer {
background: #333 url("../images/hr.png") repeat-x;
text-align: center;
}

.footer {
margin: 0 auto;
position: relative;
width: 720px;
}
.footer a {
text-decoration: underline;
}

	/**/
	.copyright {
	float: right;
	line-height: 50px;
	}

	.valid {
	color: #808080;
	}
	.valid a {
	color: #808080;
	}
	.valid a:hover {
	color: #fff;
	}

	.tools {
	float: left;
	line-height: 50px;
	}
