@charset "UTF-8";

@import "reset.css";

html {
	height: 100%;
	overflow: hidden;
}

body {
	color: #333;
	font-family: sans-serif;
	font-size: 12px;
	height: 100%;
	overflow: hidden;
}

a:link {
	color: #333;
}
a:visited {
	color: #333;
}
a:hover {
	color: #333;
}

input, select, textarea {
	font-family: sans-serif;
	font-size: 12px;
}


/*--------------------------------------
  Main
--------------------------------------*/
.main {
	height: 100%;
	padding: 40px 40px 0 40px;
	position: relative;
}


/*--------------------------------------
  Header
--------------------------------------*/
.header {
}

	h1 {
		font-size: 24px;
	}


/*--------------------------------------
  Container
--------------------------------------*/
.container {
	margin-top: 10px;
}

	.code {
		font-weight: bold;
	}


/*--------------------------------------
  Footer
--------------------------------------*/
.footer {
	bottom: 80px;
	position: absolute;
}
.footer a:link,
.footer a:visited,
.footer a:hover {
	text-decoration: none;
}


/*--------------------------------------
  No-signal
--------------------------------------*/
.bg {
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.bg div {
	float: right;
	height: 100%;
	width: 12.5%;
}
.bg .color-1 {
	background: black;
}
.bg .color-2 {
	background: blue;
}
.bg .color-3 {
	background: red;
}
.bg .color-4 {
	background: fuchsia;
}
.bg .color-5 {
	background: lime;
}
.bg .color-6 {
	background: aqua;
}
.bg .color-7 {
	background: yellow;
}
.bg .color-8 {
	background: white;
}
