@charset "UTF-8";

@import url("reset.css");

html {
	height: 100%;
	overflow: hidden;
}
body {
	color: #fff;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lantinghei SC", "Microsoft YaHei", sans-serif;
	font-size: 12px;
	height: 100%;
	overflow: hidden;
}


a:link {
	color: #fff;
}
a:visited {
	color: #fff;
}
a:hover {
	color: #fff;
}

input, select, textarea {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lantinghei SC", "Microsoft YaHei", sans-serif;
	font-size: 12px;
}


/*--------------------------------------
  MAIN
--------------------------------------*/
.main {
	position: absolute;
	right: 50px;
	text-align: right;
	top: 50px;
	width: 750px;
}


/*--------------------------------------
  HEADER
--------------------------------------*/
.header {
}
.header p {
	margin-top: 5px;
}

	/**/
	h1 {
		font-size: 18px;
		font-weight: normal;
	}


/*--------------------------------------
  CONTAINER
--------------------------------------*/
.container {
	margin-top: 15px;
}
.container ul {
	line-height: 2;
	list-style: disc inside;
}
.container ul li {
	margin-left: 20px;
}


/*--------------------------------------
  FOOTER
--------------------------------------*/
.footer {
	margin-top: 15px;
}


/*--------------------------------------
  NOSIGNAL
--------------------------------------*/
#nosignal {
	height: 100%;
}
#nosignal li {
	float: right;
	height: 100%;
	width: 12.5%;
}

#nosignal .color-1 {
	background: black;
}
#nosignal .color-2 {
	background: blue;
}
#nosignal .color-3 {
	background: red;
}
#nosignal .color-4 {
	background: fuchsia;
}
#nosignal .color-5 {
	background: lime;
}
#nosignal .color-6 {
	background: aqua;
}
#nosignal .color-7 {
	background: yellow;
}
