@charset "UTF-8";

@import url("reset.css");
@import url("error-default.css");

html {
	height: 100%;
	overflow: hidden;
}

body {
	color: #fff;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

a:link {
	color: #fff;
}
a:visited {
	color: #fff;
}
a:hover {
	color: #fff;
}

input, select, textarea {
}


/*--------------------------------------
  MAIN
--------------------------------------*/
.main {
	position: absolute;
	right: 50px;
	text-align: right;
	top: 50px;
}


/*--------------------------------------
  HEADER
--------------------------------------*/
.header {
	border: none;
}
.header p {
	color: #fff;
}

	/**/
	h1 {
		color: #fff;
	}


/*--------------------------------------
  FOOTER
--------------------------------------*/
.footer {
	border: none;
}


/**/
#nosignal {
	height: 100%;
}
#nosignal li {
	float: right;
	height: 100%;
	width: 12.5%;
}

#nosignal .color-1 {
	background: black;
}
#nosignal .color-2 {
	background: blue;
}
#nosignal .color-3 {
	background: red;
}
#nosignal .color-4 {
	background: fuchsia;
}
#nosignal .color-5 {
	background: lime;
}
#nosignal .color-6 {
	background: aqua;
}
#nosignal .color-7 {
	background: yellow;
}
