@charset "UTF-8";

body {
background: #f4f4f4;
color: #575757;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lantinghei SC", "Microsoft YaHei", sans-serif;
font-size: 14px;
margin-top: 20px;
/*
word-break: break-all;
word-wrap: break-word;
*/
}

a:link {
color: #1370ab;
}
a:visited {
color: #1370ab;
}
a:hover {
color: #074ae5;
position: relative;
top: 1px;
}

input, select, textarea {
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lantinghei SC", "Microsoft YaHei", sans-serif;
}


/*--------------------------------------
  MAIN
--------------------------------------*/
.main {
width: 750px;
}


/*--------------------------------------
  CONTAINER
--------------------------------------*/
.container {
float: right;
width: 670px;
}


/*--------------------------------------
  HEADER
--------------------------------------*/
.header {
border-bottom: 1px solid #b6bcc6;
}
.header p {
color: #787878;
font-size: 11px;
margin-top: 5px;
text-align: right;
}

	/*------------------------------------*/
	h1 {
	color: #4465a2;
	font-size: 18px;
	font-weight: normal;
	}


/*--------------------------------------
  CONTENT
--------------------------------------*/
.content {
margin: 0 auto;
}

	/*------------------------------------*/
	ul {
	list-style: disc inside;
	margin-top: 15px;
	}
	ul li {
	line-height: 2em;
	margin-left: 20px;
	}


/*--------------------------------------
  FOOTER
--------------------------------------*/
.footer {
border-top: 1px solid #b6bcc6;
font-size: 11px;
margin: 15px auto 0 auto;
padding-top: 15px;
text-align: right;
}
