@charset "UTF-8";

/*___________________________________4what____________________________________*/

/**
 * reset.css
 *
 * @author 4what
 * @version 2018.02.06
 */

* {
	font-size: 100%;
	font-style: normal;
	margin: 0;
	padding: 0;
}

img {
	border: none;
	vertical-align: middle;
}

q:after, q:before {
	content: ""; /* for IE8+, Std */
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:focus {
	outline: none; /* for IE8+, Std */
}

.clear {
	zoom: 1; /* for IE7-: hasLayout */
}
.clear:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
