@charset "UTF-8";

@import url("reset.css");

body {
	color: #333;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lantinghei SC", "Microsoft YaHei", sans-serif;
	font-size: 12px;
}


/**/
.iframe-return-to-home {
	height: 26px;
	position: fixed !important; /* for IE7+, Std */
	position: absolute; /* for IE6 */
	right: 0;
	top: 0;
	width: 155px;
}

.return-to-home {
	background: #eee;
	border-color: #808080;
	border-style: solid;
	border-width: 0 0 1px 5px;
	height: 25px;
	line-height: 25px;
	position: fixed !important; /* for IE7+, Std */
	position: absolute; /* for IE6 */
	right: 0;
	text-align: center;
	top: 0;
	width: 150px;
}
.return-to-home a {
	color: #333;
	text-decoration: none;
}
