@charset "UTF-8";

.syntaxhighlighter {
	background: #fff !important;
	font-size: 100% !important;
	margin: 10px 0 0 0 !important;
}

.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
	line-height: 1.5 !important;
}

.syntaxhighlighter .gutter .line {
	border-right: 5px solid #ddd !important;
}

.syntaxhighlighter .line.alt1,
.syntaxhighlighter .line.alt2 {
	background: #fff !important;
}
