@charset "UTF-8";

.syntaxhighlighter {
	background: #fff !important;
	font-size: 100% !important;
	margin: 10px 0 0 0 !important;
}

.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
	line-height: 1.5 !important;
}

.syntaxhighlighter table caption {
	color: #666 !important;
	font-family: sans-serif !important;
	padding: 5px 0 !important;
}

.syntaxhighlighter table td.code .container {
	border-left: 5px solid #ddd !important;
	padding: 5px 0 5px 1em !important;
}
.syntaxhighlighter table td.code .line {
	padding: 0 !important;
}

.syntaxhighlighter .line.alt1,
.syntaxhighlighter .line.alt2 {
	background: #fff !important;
}

.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
	color: #333 !important;
}
