@charset "UTF-8";

/* SyntaxHighlighter */
.syntaxhighlighter.ie,
.syntaxhighlighter {
background-color: #eee !important;
border-color: #ddd !important;
border-style: solid !important;
border-width: 1px 0 !important;
font-size: 1em !important;
margin: 10px 0 0 0 !important;
padding: 10px 0 !important;
}
.syntaxhighlighter .line.alt1 {
background-color: #eee !important;
}
.syntaxhighlighter .line.alt2 {
background-color: #eee !important;
}
.syntaxhighlighter .gutter .line {
border-right: 5px solid #808080 !important;
}
