@charset "UTF-8";

@import url("reset.css");

/**
 * [Typography]
 *
 * background-color	{@value}
 * border-color		{@value}
 * color			{@value}
 * font-family		{@value}
 * font-size		{@value}
 */

/* Document */
body {
background: #000; /*#f2f2f2*/
color: #fff;
font-family: sans-serif;
font-size: 14px;
text-align: center;
-webkit-text-size-adjust: none;
/*
word-break: break-all;
word-wrap: break-word;
*/
}

/* Hypertext */
a:link {
color: #fff;
text-decoration: underline;
}
a:visited {
color: #fff;
text-decoration: underline;
}
a:hover {
color: #fff;
text-decoration: underline;
}
a:active {
}

/* Form */
input, select, textarea {
font-family: sans-serif;
}


/**/
html, body {
height: 100%;
position: relative;
}

.swiper-container {
height: 100%;
width: 100%;
}
.swiper-slide {
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.swiper-slide img.photo {
width: auto;
height: auto;
max-width: 100%;
max-height: 100%;
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
position: absolute;
left: 50%;
top: 50%;
}

/**/
.subtitle {
display: none;
font-size: 16px;
line-height: 1.5em;
}

/**/
#us {
border-color: #fff;
border-style: solid;
border-width: 8px 8px 24px 8px;
display: none;
-ms-transform: rotate(-15deg);
-webkit-transform: rotate(-15deg);
transform: rotate(-15deg);
width: 80%;
}
.animation-us {
-webkit-animation: us 4s ease-in-out 0s 1 normal none;
animation: us 4s ease-in-out 0s 1 normal none;
}
@-webkit-keyframes us {
	from {
	opacity: 0;
	-webkit-transform: scale(0.2, 0.2);
	}
	to {
	opacity: 1
	}
}
@keyframes us {
	from {
	opacity: 0;
	transform: scale(0.2, 0.2);
	}
	to {
	opacity: 1
	}
}

/**/
#arrow {
bottom: 16px;
display: none;
position: fixed;
width: 100%;
z-index: 1;
}
#arrow span {
-webkit-animation: arrow 1.8s ease-in-out 0s infinite normal none;
animation: arrow 1.8s ease-in-out 0s infinite normal none;
background: url("../images/arrow-1.png") no-repeat 0 0;
background-size: contain;
display: block;
height: 16px;
margin: 0 auto;
width: 21px;
}
@-webkit-keyframes arrow {
	0% {
	opacity: 0;
	}
	50% {
	opacity: 1;
	-webkit-transform: translate(0, -10px);
	}
	100% {
	opacity: 0;
	-webkit-transform: translate(0, -10px);
	}
}
@keyframes arrow {
	0% {
	opacity: 0;
	}
	50% {
	opacity: 1;
	transform: translate(0, -10px);
	}
	100% {
	opacity: 0;
	transform: translate(0, -10px);
	}
}

/**/
.overlay {
background: #000;
display: none;
height: 100%;
left: 0;
opacity: 0.4;
position: absolute;
top: 0;
width: 100%;
z-index: 1;
}

/**/
.ios-view {
background: #fff;
color: #333;
height: 100%;
overflow: hidden;
width: 100%;
}

/**/
.ios-view .selected {
background: #d9d9d9 !important;
}

/**/
.ios-view .actionsheet {
bottom: 0;
left: 0;
position: absolute;
width: 100%;
z-index: 10;
}
.ios-view .actionsheet span {
background: #fff;
display: block;
margin: 0 8px;
}
.ios-view .actionsheet .title {
border-bottom: 0.5pt solid #ccc;
border-radius: 4px 4px 0 0;
color: gray;
line-height: 1.5em;
padding: 12px 0;
}
.ios-view .actionsheet .title em {
display: block;
margin: 0 16px;
}
.ios-view .actionsheet .destructive {
border-radius: 0 0 4px 4px;
color: #ff3b30;
font-size: 18px;
height: 2.5em;
line-height: 2.5em;
margin-bottom: 8px;
}
.ios-view .actionsheet .cancel {
border-radius: 4px;
color: #007aff;
font-size: 18px;
font-weight: bold;
height: 2.5em;
line-height: 2.5em;
margin-bottom: 8px;
}

/**/
.ios-view .statusbar {
background: #f8f8f8;
font-size: 12px;
height: 24px;
line-height: 24px;
position: relative;
}
.ios-view .statusbar .carrier {
float: left;
margin-left: 8px;
}
.ios-view .statusbar .wifi {
background: url("../images/ios-wifi.png") no-repeat 0 center;
background-size: contain;
float: left;
height: 100%;
margin-left: 6px;
width: 12px;
}
.ios-view .statusbar .clock {
height: 100%;
left: 0;
position: absolute;
top: 0;
width: 100%;
}
.ios-view .statusbar .battery {
background: url("../images/ios-battery.png") no-repeat 0 center;
background-size: contain;
float: right;
height: 100%;
margin-right: 8px;
width: 24px;
}

/**/
.ios-view .navbar {
background: #f8f8f8;
border-bottom: 1px solid #b3b3b3;
font-size: 18px;
height: 48px;
line-height: 48px;
position: relative;
}
.ios-view .navbar .leftbutton {
color: #007aff;
float: left;
margin-left: 12px;
}
.ios-view .navbar .leftbutton.back {
background: url("../images/ios-back.png") no-repeat 0 center;
background-size: auto 22px;
text-indent: 18px;
}
.ios-view .navbar .title {
font-weight: bold;
height: 100%;
left: 0;
position: absolute;
top: 0;
width: 100%;
}
.ios-view .navbar .rightbutton {
color: #007aff;
float: right;
height: 100%;
margin-right: 12px;
}
.ios-view .navbar .compose {
background: url("../images/ios-compose.png") no-repeat 0 0.6em;
background-size: contain;
width: 24px;
}

/**/
.ios-view .tabbar {
background: #f8f8f8;
border-top: 1px solid #b2b2b2;
bottom: 0;
color: #929292;
font-size: 10px;
height: 48px;
left: 0;
position: absolute;
width: 100%;
}
.ios-view .tabbar li {
background-position: center 6px;
background-repeat: no-repeat;
background-size: auto 24px;
float: left;
height: 100%;
position: relative;
}
.ios-view .tabbar li.highlight {
color: #007aff;
}
.ios-view .tabbar span {
bottom: 2px;
left: 0;
position: absolute;
text-align: center;
width: 100%;
}

/**/
.ios-view .searchbar {
border-bottom: 1px solid #b8b8b8;
background: #c9c9c9;
height: 48px;
overflow: hidden;
}
.ios-view .searchbar span {
background: #fff;
border-radius: 5px;
color: gray;
display: block;
height: 32px;
line-height: 32px;
margin: 8px auto 0 auto;
width: 95%;
}
.ios-view .searchbar span em {
background: url("../images/ios-search.png") no-repeat 0 center;
background-size: contain;
height: 100%;
padding-left: 24px;
}

/**/
.ios-view.messages .table {
text-align: left;
}
.ios-view.messages .table li {
position: relative;
}
.ios-view.messages .table .wrapper {
background: #fff;
overflow: hidden;
padding: 6px 0 0 24px;
position: relative;
z-index: 10;
}
.ios-view.messages .table .from {
font-size: 16px;
float: left;
font-weight: bold;
}
.ios-view.messages .table .date {
background: url("../images/ios-arrow.png") no-repeat right center;
background-size: auto 14px;
color: gray;
float: right;
margin-right: 12px;
padding-right: 17px;
}
.ios-view.messages .table p {
border-bottom: 0.5pt solid #ccc;
clear: both;
color: gray;
height: 3em;
line-height: 1.5em;
padding: 2px 16px 6px 0;
}
.ios-view.messages .table .delete {
background: #ff3b30;
color: #fff;
font-size: 18px;
height: 100%;
position: absolute;
right: 0;
top: 0;
width: 80px;
z-index: 1;
}
.ios-view.messages .table .delete em {
left: 0;
margin-top: -9px;
position: absolute;
text-align: center;
top: 50%;
width: 100%;
}

/**/
.ios-view.contacts .name {
font-size: 16px;
font-weight: bold;
margin: 22px 0;
padding-left: 16px;
text-align: left;
}
.ios-view.contacts .table {
text-align: left;
}
.ios-view.contacts .table li {
padding-left: 16px;
}
.ios-view.contacts .table .wrapper {
border-bottom: 0.5pt solid #ccc;
padding: 10px 0;
}
.ios-view.contacts .table li.info {
position: relative;
}
.ios-view.contacts .table li.info .label {
color: #007aff;
display: block;
}
.ios-view.contacts .table li.info .detail {
color: #333;
display: block;
font-size: 16px;
line-height: 1.5em;
margin-top: 2px;
}
.ios-view.contacts .table li.info .detail em {
-webkit-filter: blur(4px);
filter: blur(4px);
}
.ios-view.contacts .table li.info a:hover,
.ios-view.contacts .table li.info a:visited,
.ios-view.contacts .table li.info a:link {
color: #333;
text-decoration: none;
}
.ios-view.contacts .table li.info .send {
background: url("../images/ios-message.png") no-repeat 0 0;
background-size: contain;
bottom: 20px;
height: 20px;
position: absolute;
right: 56px;
width: 22px;
}
.ios-view.contacts .table li.info .call {
background: url("../images/ios-call.png") no-repeat 0 0;
background-size: contain;
bottom: 20px;
height: 20px;
position: absolute;
right: 16px;
width: 20px;
}
.ios-view.contacts .table li.notes {
color: #c0c0c0;
}
.ios-view.contacts .table .button {
color: #007aff;
font-size: 16px;
text-decoration: none;
}
.ios-view.contacts .tabbar li {
width: 25%;
}
