@charset "UTF-8";
/* CSS Document */
html { overflow-x: hidden; }

/*去除包括IE7横向滚动条*/
body { margin: 0px; padding: 0px; font-size: 1.2em; font-size: 62.5%; overflow-x: hidden; /* background:url(../images/bj.png) repeat-x;*/ color: #444; -webkit-text-size-adjust: none; font-family: "Microsoft Yahei"; }

ul, ol, li { margin: 0px; padding: 0px; list-style: none; vertical-align: top; }

img { border: none; }

div, span, dd, dl, dt, p, img, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; border: 0px; /*font-weight:normal;*/ font-style: normal; font-size: 14px; color: #808080; }

input, textarea { padding: 0px; margin: 0px; outline: medium none; font-family: "宋体"; }

a { color: #444; text-decoration: none; }

a:hover { color: #333; text-decoration: underline; }

.clear { clear: both; }

em { font-weight: normal; font-style: normal; }

/*-------------------------------------css--------------------------------------------*/
/*index css*/
.main_wrap { width: 640px; margin: 0 auto; background: #c8c9cb; position: relative; height: auto; }

.main { width: 640px; margin: 0 auto; background: #FFF; position: relative; }



.step01 { position: relative; width: 640px; height: 1008px; overflow: hidden; }


.lottery_title01{position:absolute;left:0px;top:0px;}



