@charset "UTF-8";

/*-------------------------------------css--------------------------------------------*/
/*index css*/
/*******************************************************Loading_Star*****************************************************************/
 #preloader {
            background: #000;
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%; 
            z-index:20000; 
        }
        .spinner-wrap {
            width: 100%;
            position: absolute;
            top: 50%;
        } 
        .spinner {
            height: 50px;
            width: 50px;
            margin: -50px auto 0;
            animation: spin 1s steps(12, end) infinite;
            -webkit-animation: spin 1s steps(12, end) infinite;
        } 
            .spinner:hover i {
                height: 6px;
            }

            .spinner i {
                height: 12px;
                width: 6px;
                margin-left: -3px;
                display: block;
                transition: height 1s;
                position: absolute;
                left: 50%;
                transform-origin: center 25px;
                -webkit-transform-origin: center 25px;
                background: #fff;
                border-radius: 3px;
            }

                .spinner i:nth-child(1) {
                    opacity: 0.08;
                }

                .spinner i:nth-child(2) {
                    -webkit-transform: rotate(30deg);
                    transform: rotate(30deg);
                    opacity: 0.167;
                }

                .spinner i:nth-child(3) {
                    transform: rotate(60deg);
                    -webkit-transform: rotate(60deg);
                    opacity: 0.25;
                }

                .spinner i:nth-child(4) {
                    transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    opacity: 0.33;
                }

                .spinner i:nth-child(5) {
                    transform: rotate(120deg);
                    -webkit-transform: rotate(120deg);
                    opacity: 0.4167;
                }

                .spinner i:nth-child(6) {
                    transform: rotate(150deg);
                    opacity: 0.5;
                }

                .spinner i:nth-child(7) {
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    opacity: 0.583;
                }

                .spinner i:nth-child(8) {
                    transform: rotate(210deg);
                    -webkit-transform: rotate(210deg);
                    opacity: 0.67;
                }

                .spinner i:nth-child(9) {
                    transform: rotate(240deg);
                    -webkit-transform: rotate(240deg);
                    opacity: 0.75;
                }

                .spinner i:nth-child(10) {
                    transform: rotate(270deg);
                    -webkit-transform: rotate(270deg);
                    opacity: 0.833;
                }

                .spinner i:nth-child(11) {
                    transform: rotate(300deg);
                    -webkit-transform: rotate(300deg);
                    opacity: 0.9167;
                }

                .spinner i:nth-child(12) {
                    transform: rotate(330deg);
                    -webkit-transform: rotate(330deg);
                    opacity: 1;
                }

        @keyframes spin {
            from {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
            }
        }
        @-webkit-keyframes spin 
        {
            from {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
            }
        }
/*******************************************************Loading_End*****************************************************************/
 

.lottery_title01{position:absolute;left:0px;top:0px;}
.tips01{position:absolute;left:348px;top:136px;}

.lottery_box{position:absolute;left:0px;top:227px;width:640px;height:308px;background:url(../cagoe_images/zq_img/lottery_box.png);}

.lottery_bar01{position:absolute;right:21px;top:172px;}
.lottery_bar02{position:absolute;right:21px;top:172px;}
.tips_pic01{position:absolute;left:0px;top:527px;}
.scroll_lottery_box{position:absolute;left:113px;top:55px;width:116px;height:194px;border-radius:12px;overflow:hidden;}

.scroll_lottery_box ul{position:relative;}
.scroll_lottery_box ul li:first-child{width:116px;height:194px;line-height:194px;position:absolute;left:0px;top:0px;display:inline-block;}
.scroll_lottery_box ul li{width:116px;height:194px;line-height:194px;position:absolute;left:0px;top:0px;display:none;}
.scroll_lottery_box ul li img{display:inline-block;vertical-align:middle;}



.scroll_lottery_box.second{left:261px;}
.scroll_lottery_box.third{left:406px;}

/*抽奖结果*/
.result_box{position:absolute;left:0px;top:0px;width:640px;height:1008px;}

.submit_btn{position:absolute;left:130px;top:740px;width:373px;height:85px;cursor:pointer;}


.form_box{position:absolute;left:168px;top:503px;width:367px;}
.form_box.t446{position:absolute;left:168px;top:446px;width:367px;}
.form_box input{width:367px;height:58px;line-height:58px;background:#FFF;font-size:28px;color:#FFF;margin-bottom:11px;background:none;border:none;text-indent:10px;}


.submit_box{position:absolute;left:0px;top:0px;width:640px;height:1008px;}
.conf_btn{position:absolute;left:130px;top:706px;width:373px;height:85px;cursor:pointer;}
.info_box{position:absolute;left:200px;top:330px;width:310px;}
.info_box span{width:328px;height:47px;line-height:47px;display:block;font-size:28px;color:#000;margin-bottom:1px;}

.t352{top:351px;}

.form_box.t476{position:absolute;left:168px;top:476px;width:367px;}
.form_box.t506{position:absolute;left:168px;top:506px;width:367px;}


.wallpaper_box{position:absolute;left:126px;top:214px;width:389px;height:692px;box-shadow: -13px 7px 13px rgba(0,0,0,.2);}
.wallpaper_box img{width:389px;height:692px;}

.unlucky01{position:absolute;left:0px;top:0px;}



.logo{position:absolute;right:22px;top:12px;z-index:999;}/*原top:22px*/

.poeplebox{position:absolute;left:0px;top:0px;}

.kol_container{
 position:absolute;left:0px;top:0px;
}

.people{position:absolute;left:154px;top:299px;display:none;}

.popup{display:none;}
.link_title{position:absolute;left:131px;top:31px;}


.tipps{position:absolute;left:131px;top:31px;width:206px;height:111px;background:url(../cagoe_images/people/p12.png) no-repeat;}
.tipps.arrowOnright{position:absolute;left:131px;top:31px;width:206px;height:111px;background:url(../cagoe_images/people/p11.png)  no-repeat;}
.people01 .tipps{display:;}
.people01 .tipps{display:;}
.people01 .tipps01{left:131px;top:-11px;z-index:3;}
.people01 .tipps02{left:155px;top:141px;z-index:2;}
.people01 .tipps03{left:118px;top:276px;z-index:9999;}

.tip_title{width:123px;height:44px;line-height:44px;margin-left:36px;text-align:center;font-size:22px;color:#000;cursor:pointer;}



.inner_container{position:absolute;left:36px;top:0px;width:244px;height:203px;background:url(../cagoe_images/people/p112.png);}

.desc_title{width:244px;height:46px;line-height:46px;font-size:22px;color:#000;cursor:pointer;display:inline-block;text-indent:20px;cursor:pointer;}
.desc_body{width:200px;line-height:1.5;font-size:18px;color:#000;padding:10px;margin:0 auto;margin-left:10px;padding-right:25px;}

.people02{position:absolute;left:303px;top:221px;display:;}

.people02 .tipps01{left:-121px;top:35px;z-index:3;}
.people02 .tipps02{left:123px;top:412px;z-index:2;}
.people02 .tipps03{left:118px;top:276px;z-index:9999;}



.people02 .inner_container{display:;} 


.people03{position:absolute;left:456px;top:377px;display:;}
.people03 .inner_container{display: ;}

.people03 .tipps{display: ;}
.people03 .tipps01{left:-39px;top:-11px;z-index:3;}
.people03 .tipps02{left:159px;top:61px;z-index:2;}
.people03 .tipps03{left:106px;top:325px;z-index:9999;}

.arrowOnright .tip_title{width:123px;height:44px;line-height:44px;margin-left:0px;text-align:center;font-size:22px;color:#000;cursor:pointer;}

.arrowOnright .inner_container{position:absolute;left:-83px;top:0px;width:244px;height:203px;background:url(../cagoe_images/people/p112.png);}



.people04{position:absolute;left:714px;top:258px;display:;}
.people04 .inner_container{display:none;}

.people04 .tipps{display:;}
.people04 .tipps01{left:-126px;top:16px;z-index:3;}
.people04 .tipps02{left:132px;top:61px;z-index:2;}
.people04 .tipps03{left:106px;top:274px;z-index:9999;}

.people05{position:absolute;left:834px;top:361px;display:;}
.people05 .inner_container{display:none;}

.people05 .tipps{display:;}
.people05 .tipps01{left:-110px;top:-9px;z-index:3;}
.people05 .tipps02{left:145px;top:61px;z-index:2;}
.people05 .tipps03{left:167px;top:182px;z-index:9999;}



.people06{position:absolute;left:1021px;top:253px;display:none;}
.people06 .inner_container{display:none;}

.people06 .tipps{display:;}
.people06 .tipps01{left:-141px;top:3px;z-index:3;}
.people06 .tipps02{left:106px;top:153px;z-index:2;}
.people06 .tipps03{left:95px;top:375px;z-index:9999;}


.people07{position:absolute;left:1128px;top:229px;display:none;}
.people07 .inner_container{display:none;}

.people07 .tipps{display:;}
.people07 .tipps01{left:-141px;top:3px;z-index:3;}
.people07 .tipps02{left:106px;top:115px;z-index:2;}
.people07 .tipps03{left:95px;top:449px;z-index:9999;}




.people08{position:absolute;left:1336px;top:235px;display:;}
.people08 .inner_container{display:none;}

.people08 .tipps{display: ;}
.people08 .tipps01{left:-117px;top:30px;z-index:3;}
.people08 .tipps02{left:125px;top:60px;z-index:2;}
.people08 .tipps03{left:104px;top:424px;z-index:9999;}


.people09{position:absolute;left:1482px;top:399px;display:none;}
.people09 .inner_container{display:none;}

.people09 .tipps{display:;}
.people09 .tipps01{left:-135px;top:30px;z-index:3;}
.people09 .tipps02{left:145px;top:34px;z-index:2;}
.people09 .tipps03{left:148px;top:364px;z-index:9999;}


.people10{position:absolute;left:1654px;top:287px;display:none;}
.people10 .inner_container{display:none;}

.people10 .tipps{display:;}
.people10 .tipps01{left:-152px;top:0px;z-index:3;}
.people10 .tipps02{left:123px;top:45px;z-index:2;}
.people10 .tipps03{left:130px;top:404px;z-index:9999;}


.people11{position:absolute;left:1870px;top:232px;display:;}
.people11 .inner_container{display:;}

.people11 .tipps{display:;}
.people11 .tipps01{left:-101px;top:0px;z-index:3;}
.people11 .tipps02{left:94px;top:48px;z-index:2;}
.people11 .tipps03{left:61px;top:413px;z-index:9999;}



.Dxpeople11 .Dxtipps02{width:252px;height:111px; left:60px;top:80px;z-index:2;background:url(../cagoe_images/people/p12_2.png) no-repeat;}
.Dxpeople11 .Dxtipps02 .tip_title{width:175px;}

.Dxpeople11 .tipps03{left:-120px; background:url(../cagoe_images/people/p11.png) no-repeat;}
.Dxpeople11 .tipps03 .tip_title{margin-left:10px;}
.Dxpeople11 .tipps03 .inner_container{left:-80px;}

.tips_touch{position:absolute;left:62px;top:408px;z-index:999;}
.hometitle{position:absolute;left:0px;top:2px;z-index:999;}
.cta{position:absolute;left:62px;top:758px;z-index:999;cursor:pointer;}

/*首页进入测试按钮*/
.HomeTestButton{position:absolute;top:758px;left:50%;width:543px;height:99px;left:50%;margin-left:-258px;}

/*Dx20140803*/
.people .tip_title{width:100%; text-align:left;padding-left:27px;}


/*Dx20140808*/
/*微博登陆浮层*/
.WeiBoPopWrap{width:100%;height:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,0.8);z-index:10000; display:none;}
.WeiBoPopInner{position:absolute;top:50%;left:50%;margin-top:-102px;margin-left:-102px;}
.WeiBoPopInner a{display:block;}