@charset "UTF-8";

@import url("../../../css/reset.css");

/**
 * [Typography]
 *
 * background-color	{@value #02080e}
 * color			{@value #00b3fe, #728a96, #77d8f3, #d6f9ff, #feaf00, #fff}
 * font-family		{@value Arial, Georgia}
 * font-size		{@value 11px, 12px, 18px}
 */

/* Document */
html {
height: 100%;
}

body {
background: #02080e url("../images/page_background.jpg") repeat-y center 0;
color: #d6f9ff;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lantinghei SC", "Microsoft YaHei", sans-serif;
font-size: 12px;
height: 100%;
/*
word-break: break-all;
word-wrap: break-word;
*/
}

/* Hypertext */
a:link {
color: #feaf00;
text-decoration: none;
}
a:visited {
color: #feaf00;
text-decoration: none;
}
a:hover {
color: #00b3fe;
text-decoration: none;
}

/* Form */
input, select, textarea {
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lantinghei SC", "Microsoft YaHei", sans-serif;
}


/*--------------------------------------
  MAIN
--------------------------------------*/
.main {
text-align: center;
}


/*--------------------------------------
  CONTAINER
--------------------------------------*/
.container {
background: url("../images/page_background_top_main.jpg") no-repeat center 0;
height: 600px;
}


/*--------------------------------------
  CONTENT
--------------------------------------*/
.content {
margin: 0 auto;
position: relative;
text-align: left;
width: 980px;
}


/*--------------------------------------
  NAVBAR
--------------------------------------*/
.navbar {
height: 100px;
left: 25px;
position: absolute;
top: 0;
width: 930px;
}

.navbar div {
background: url("../images/flash/navi_bg.png") no-repeat 0 0;
height: 66px;
left: 127px;
position: absolute;
top: 0;
width: 676px;
}
* html .navbar div { /* for IE6 */
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/flash/navi_bg.png");
}

.navbar span {
background: url("../images/flash/image30.png") no-repeat 0 0;
height: 54px;
left: 239px;
position: absolute;
top: 23px;
width: 460px;
}
* html .navbar span { /* for IE6 */
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/flash/image30.png");
}

.navbar p {
background: url("../images/flash/image24.png") no-repeat 0 0;
height: 52px;
left: 0;
position: absolute;
top: 0;
width: 250px;
}
* html .navbar p { /* for IE6 */
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/flash/image24.png");
}

.navbar em {
background: url("../images/flash/image27.png") no-repeat 0 0;
height: 52px;
position: absolute;
right: 0;
top: 0;
width: 250px;
}
* html .navbar em { /* for IE6 */
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/flash/image27.png");
}

.navbar ul {
left: 127px; /* 127 + 43 */
position: absolute;
top: 9px;
}
.navbar ul li {
float: left;
line-height: 15px;
position: relative;
padding: 0 10px 0 17px;
text-transform: uppercase;
}
.navbar ul li a {
color: #fff;
font-family: Georgia;
font-weight: bold;
}
.navbar ul li a:hover {
color: #feaf00;
}
.navbar ul li strong {
background: url("../images/flash/nav_separator.png") no-repeat 0 0;
height: 15px;
position: absolute;
right: -7px !important;
right: -8px;
top: 0;
width: 7px;
}
* html .navbar ul li strong { /* for IE6 */
background: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/flash/nav_separator.png");
}


/*--------------------------------------
  HEADER
--------------------------------------*/
.header {
background: url("../images/frontpage_news_bgt.jpg") no-repeat 0 0;
float: left;
height: 360px;
width: 466px;
}

	/*------------------------------------*/
	h1.logo {
	left: 5px;
	margin-top: 60px;
	position: relative;
	}
	h1.logo a {
	background: url("../images/logo_wrath.png") no-repeat center 0;
	display: block;
	height: 191px;
	margin: 0 auto;
	width: 366px;
	}
	* html h1.logo a { /* for IE6 */
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/logo_wrath.png");
	}
	h1.logo span {
	display: none;
	}


/*--------------------------------------
  LEFT
--------------------------------------*/
#left {
background: url("../images/frontpage_news_bgm.jpg") repeat-y 0 183px;
float: left;
width: 466px;
}

	/*------------------------------------*/
	.flash-feature {
	height: 183px;
	position: relative;
	}
	.flash-feature em,
	.flash-feature p,
	.flash-feature span {
	background: url("../images/flash/wrathgate.jpg") no-repeat 0 0;
	height: 100px;
	left: 27px;
	position: absolute;
	top: 75px;
	width: 140px;
	}
	.flash-feature p {
	background: url("../images/flash/features.jpg") no-repeat 0 0;
	left: 168px;
	}
	.flash-feature em {
	background: url("../images/flash/buynow.jpg") no-repeat 0 0;
	left: 309px;
	}
	.flash-feature div {
	background: url("../images/flash/image33.png") no-repeat 0 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	}
	* html .flash-feature div { /* for IE6 */
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/flash/image33.png");
	}

	/*------------------------------------*/
	.news {
	background: url("../images/frontpage_news_bgmt.jpg") no-repeat 0 0;
	height: 416px;
	line-height: 1.5em;
	padding: 10px 30px 10px 50px;
	}

	.news .toggle {
	left: -2px;
	position: relative;
	}
	.news .toggle li {
	display: inline;
	font-weight: bold;
	}
	.news .toggle li a {
	padding: 0 4px 0 2px;
	}

	.news h2 {
	color: #feaf00;
	font-size: 18px;
	font-weight: normal;
	margin-top: 20px;
	}

	.news div ul {
	line-height: 15px;
	margin-top: 20px;
	text-indent: 24px;
	}
	.news div ul li {
	background: url("../images/frontpage_bullet.gif") no-repeat 0 0;
	margin-top: 1em;
	}
	.news div ul li strong {
	color: #77d8f3;
	}

	/*------------------------------------*/
	.bottom {
	background: url("../images/frontpage_news_bgm_fade.gif") no-repeat 0 0;
	height: 545px;
	position: relative;
	}
	.bottom div {
	background: url("../images/frontpage_news_bgb.jpg") no-repeat 0 0;
	height: 485px;
	left: 0;
	position: absolute;
	top: 60px;
	width: 100%;
	}
	.bottom span {
	background: url("../images/frontpage_news_left.gif") no-repeat 0 0;
	height: 323px;
	left: -49px;
	position: absolute;
	top: 60px;
	width: 49px;
	}
	.bottom p {
	background: url("../images/frontpage_news_right.gif") no-repeat 0 0;
	height: 378px;
	position: absolute;
	right: -131px;
	top: 86px;
	width: 131px;
	}


/*--------------------------------------
  RIGHT
--------------------------------------*/
#right {
background: url("../images/frontpage_topright.jpg") no-repeat 0 0;
float: right;
height: 1300px;
width: 514px;
}
#right span {
background: url("../images/frontpage_bottomright.jpg") no-repeat 0 0;
display: block;
height: 207px;
}

	/*------------------------------------*/
	.flash-main {
	background: url("../images/flash/frontpage_arthas.jpg") no-repeat 0 0;
	height: 1013px;
	margin-top: 80px;
	}


/*--------------------------------------
  FOOTER
--------------------------------------*/
.footer {
clear: both;
* clear: none;
font-size: 11px;
overflow: hidden;
position: relative;
text-align: center;
top: -105px;
width: 100%;
}

	/*------------------------------------*/
	.return {
	font-weight: bold;
	left: 20px;
	position: absolute;
	top: 60px;
	}

	.copyright {
	margin-top: 15px;
	}
	.copyright div {
	color: #728a96;
	margin: 15px auto 0 auto;
	width: 500px;
	}

	.legal {
	position: absolute;
	right: 20px;
	top: 50px;
	}
