@charset "UTF-8";

@import url("reset.css");

/**
 * [Typography]
 *
 * background-color	{@value}
 * border-color		{@value}
 * color			{@value}
 * font-family		{@value}
 * font-size		{@value}
 */

/* Document */
body {
color: #333;
font-family: "微软雅黑", Arial;
/*
font-size: 12px;
word-break: break-all;
word-wrap: break-word;
*/
}

/* Hypertext */
a:link {
color: #333;
text-decoration: underline;
}
a:visited {
color: #333;
text-decoration: underline;
}
a:hover {
color: #333;
text-decoration: underline;
}
a:active {
}

/* Form */
input, select, textarea {
font-family: Arial;
}


/**/
.ui-page {
text-align: center;
}
.ui-content {
}

/**/
#game {
height: 380px;
margin-top: 10px;
width: 100%;
}
#game li {
background: url("../images/card.png") no-repeat center 0;
color: #fff;
float: left;
font-size: 120px;
height: 100%;
text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
width: 33.3%;
}
#game span {
display: none;
position: relative;
top: 230px;
}
#game .correct {
color: red;
}
