@charset "UTF-8";

@import url("reset.css");

/**
 * [Typography]
 *
 * background-color	{@value}
 * border-color		{@value}
 * color			{@value}
 * font-family		{@value}
 * font-size		{@value}
 */

/* Document */
body {
font-family: "Microsoft YaHei", sans-serif;
font-size: 14px;
-webkit-text-size-adjust: none;
}

/* Hypertext */
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
a:active {
}

/* Form */
input, select, textarea {
font-family: "Microsoft YaHei", sans-serif;
}


/*--------------------------------------
  MAIN
--------------------------------------*/
.main {
text-align: center;
}


/*--------------------------------------
  CONTAINER
--------------------------------------*/
.container {
margin: 0 auto;
max-width: 1920px;
}


/*--------------------------------------
  HEADER
--------------------------------------*/
.header {
background: #1d1d1d;
height: 90px;
line-height: 90px;
position: relative;
text-align: center;
width: 100%;
}

.header h1 {
color: #fff;
float: left;
font-size: 16px;
height: 100%;
left: 5%;
position: absolute;
text-align: left;
top: 0;
width: 20%;
}

	/*------------------------------------*/
	.navbar {
	font-size: 16px;
	margin: 0 auto;
	overflow: hidden;
	width: 50%;
	}
	.navbar li {
	float: left;
	width: 14.2%;
	}
	.navbar a {
	color: #fff;
	}
	.navbar a:hover,
	.navbar a:visited,
	.navbar a:link {
	text-decoration: none;
	}
	.navbar a:hover {
	border-bottom: 2px solid #fff;
	}


/*--------------------------------------
  BANNER
--------------------------------------*/
.banner {
position: relative;
}
.banner img {
width: 100%;
}
.banner .countdown {
bottom: 1%;
color: #fff;
left: 0;
position: absolute;
width: 100%;
}
.banner .countdown ul {
margin: 1% auto 0 auto;
overflow: hidden;
width: 18em;
}
.banner .countdown ul li {
float: left;
padding: 0 2px;
width: 5.5em;
}
.banner .countdown ul div {
background: rgba(0, 0, 0, 0.6);
border-radius: 10px;
padding: 0.5em 0;
}
.banner .countdown ul p {
font-size: 32px;
}


/*--------------------------------------
  CONTENT
--------------------------------------*/
.content {
background: url("../images/bg.jpg") repeat-y center 0;
background-size: 100% auto;
padding: 80px 0;
}
h2 {
color: #e2cbab;
font-size: 56px;
margin-top: 20px;
}

	/*------------------------------------*/
	.intro {
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #665c5c;
	margin: 0 auto;
	width: 80%;
	}
	.intro .wrapper {
	padding: 0 20px;
	}
	.intro p {
	color: #eee;
	padding: 20px 0;
	text-align: left;
	}

	/*------------------------------------*/
	.guide {
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #665c5c;
	margin: 80px auto 0 auto;
	padding-bottom: 20px;
	position: relative;
	width: 80%;
	}
	.guide .wrapper {
	padding: 0 20px;
	}
	.guide h3 {
	color: #c8c8c8;
	font-size: 48px;
	font-weight: normal;
	}
	.guide .box {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	margin-top: 20px;
	padding: 20px 20px 0;
	}
	.guide .box img {
	border-radius: 8px;
	margin: 20px 0;
	width: 100%;
	}
	.guide .line-left {
	left: 0;
	position: absolute;
	top: -100px;
	}
	.guide .line-right {
	position: absolute;
	right: -70px;
	top: 80px;
	}

	/*------------------------------------*/
	.guest {
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #665c5c;
	margin: 80px auto 0 auto;
	padding-bottom: 20px;
	width: 80%;
	}
	.guest .wrapper {
	padding: 0 20px;
	}
	.guest ul {
	margin-top: 20px;
	overflow: hidden;
	}
	.guest ul li {
	float: left;
	width: 25%;
	}
	.guest ul div {
	padding: 5px;
	}
	.guest ul p {
	background: #fff;
	border: 1px solid #2f4d99;
	text-align: left;
	}
	.guest ul img {
	width: 100%;
	}
	.guest ul em {
	color: #2f4d99;
	display: block;
	margin: 15px auto 0 auto;
	width: 90%;
	}
	.guest ul span {
	color: #666;
	display: block;
	font-size: 12px;
	margin: 5px auto 0 auto;
	padding-bottom: 10px;
	width: 90%;
	}

	/*------------------------------------*/
	.sponsor {
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #665c5c;
	margin: 80px auto 0 auto;
	padding-bottom: 20px;
	width: 80%;
	}
	.sponsor .wrapper {
	padding: 0 20px;
	}
	.sponsor ul {
	margin: 20px auto 0 auto;
	overflow: hidden;
	}
	.sponsor ul li {
	float: left;
	width: 20%;
	}
	.sponsor ul div {
	padding: 5px;
	}
	.sponsor ul img {
	border: 1px solid #eee;
	width: 100%;
	}

	/*------------------------------------*/
	.media {
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #665c5c;
	margin: 80px auto 0 auto;
	padding-bottom: 20px;
	width: 80%;
	}
	.media .wrapper {
	padding: 0 20px;
	}
	.media ul {
	margin: 20px auto 0 auto;
	overflow: hidden;
	}
	.media ul li {
	float: left;
	width: 20%;
	}
	.media ul div {
	padding: 5px;
	}
	.media ul img {
	border: 1px solid #eee;
	width: 100%;
	}

	/*------------------------------------*/
	.partner {
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #665c5c;
	margin: 80px auto 0 auto;
	padding-bottom: 20px;
	width: 80%;
	}
	.partner .wrapper {
	padding: 0 20px;
	}
	.partner ul {
	margin: 20px auto 0 auto;
	overflow: hidden;
	}
	.partner ul li {
	float: left;
	width: 20%;
	}
	.partner ul div {
	padding: 5px;
	}
	.partner ul img {
	border: 1px solid #eee;
	width: 100%;
	}


/*--------------------------------------
  FOOTER
--------------------------------------*/
.footer {
background: #1d1d1d;
color: #fff;
font-size: 12px;
line-height: 1.8em;
padding: 20px 0;
}
.footer a:hover,
.footer a:visited,
.footer a:link {
color: #fff;
}

	/*------------------------------------*/
	.copyright {
	padding: 0 5%;
	}


/*--------------------------------------
  m
--------------------------------------*/
@media (max-width: 800px) {

.header {
height: 50px;
left: 0;
position: fixed;
top: 0;
z-index: 100;
}

.navbar {
display: none;
}

.header .tel {
display: none;
}

.content {
margin-top: 50px;
}

.service ul li {
width: 50%;
}

.case ul li {
width: 50%;
}

.contact .map {
clear: both;
float: left;
max-width: 100%;
}

}


@media (max-width: 414px) {

.slick-next,
.slick-prev {
display: none !important;
}

.service ul li {
width: 100%;
}

.case ul li {
width: 100%;
}

.sidebar {
display: none;
}

}
