@charset "UTF-8";

@import url("reset.css");

/**
 * [Typography]
 *
 * background-color	{@value}
 * border-color		{@value}
 * color			{@value}
 * font-family		{@value}
 * font-size		{@value}
 */

/* Document */
body {
color: #333;
font-family: Arial;
/*
font-size: 12px;
word-break: break-all;
word-wrap: break-word;
*/
}

/* Hypertext */
a:link {
color: #333;
text-decoration: underline;
}
a:visited {
color: #333;
text-decoration: underline;
}
a:hover {
color: #333;
text-decoration: underline;
}
a:active {
}

/* Form */
input, select, textarea {
font-family: Arial;
}


/**/
.ui-page {
background: url("../images/bg.jpg") no-repeat center 0;
color: #666;
font-weight: bold;
text-align: center;
}
.ui-content {
height: 960px;
margin: 0 auto;
overflow: hidden;
padding: 0;
position: relative;
width: 640px;
}

/**/
#timer {
margin-top: 10px;
text-align: left;
}
#timer div {
background: url("../images/sprite.png") no-repeat 0 -200px;
font-size: 28px;
height: 69px;
line-height: 69px;
margin-left: 15px;
text-align: center;
width: 224px;
}
#timer span {
color: #0c4da2;
font-size: 46px;
}

#game {
overflow: hidden;
padding-top: 50px;
position: relative;
}
#game ul li {
float: left;
position: relative;
width: 33.3%;
}
#game ul span {
background: url("../images/transparent.png") repeat 0 0; /* for IE8 */
border: 1px solid red;
border-radius: 100%;
height: 50px;
left: 120px;
position: absolute;
top: 15px;
width: 50px;
}

#start {
margin-top: 100px;
}
#start span {
background: url("../images/sprite.png") no-repeat 0 0;
cursor: pointer;
display: block;
height: 159px;
margin: 0 auto;
width: 159px;
}

/**/
#rule {
color: #0c4da2;
font-size: 24px;
margin-top: 50px;
}
#rule span {
display: none;
}

#tip {
color: #0c4da2;
display: none;
font-size: 24px;
margin-top: 150px;
}
#tip span {
border: #0c4da2 solid 4px;
border-radius: 10px;
padding: 15px 5px 15px 55px;
position: relative;
text-indent: 2em;
}
#tip span em {
background: url("../images/sprite.png") no-repeat 0 -300px;
height: 37px;
left: 10px;
position: absolute;
top: 10px;
width: 37px;
}

/**/
#magnify {
background: url("../images/sprite.png") no-repeat 0 -400px;
display: none;
height: 312px;
left: 300px;
position: absolute;
top: 10px;
width: 281px;
}

#complete {
background: #fff;
display: none;
height: 100%;
margin-top: 50px;
}
#complete p {
color: #0c4da2;
font-size: 28px;
padding: 50px 0;
}

.btn {
background: #0c4da2;
border-bottom: #063284 solid 8px;
border-radius: 10px;
box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
color: #fff;
cursor: pointer;
font-size: 28px;
opacity: 0.8;
padding: 20px 40px;
}

/**/
#page-lottery .bonus {
background: url("../images/sprite.png") no-repeat 0 -800px;
cursor: pointer;
display: block;
height: 370px;
margin: 150px auto 100px auto;
width: 332px;
}

/**/
#award {
margin-top: 50px;
}
#award span {
background: url("../images/sprite.png") no-repeat 0 -1200px;
display: block;
height: 381px;
margin: 0 auto;
width: 266px;
}

#detail {
color: #0c4da2;
font-size: 28px;
margin-top: 50px;
}
#detail p {
border: #0c4da2 solid 4px;
border-radius: 10px;
margin: 0 auto;
padding: 15px;
width: 15em;
}

#isp {
background: #fff;
height: 100%;
margin-top: 50px;
}
#isp p {
font-size: 24px;
padding-top: 30px;
}
#isp ul {
margin: 30px auto 0 auto;
width: 90%;
}
#isp ul li {
float: left;
width: 33.3%;
}
#isp ul img {
border: #e5e5e5 solid 4px;
border-radius: 10px;
cursor: pointer;
}
#isp ul img:hover {
border-color: #0c4da2;
}

/**/
#contact {
background: #fff;
border: #0c4da2 solid 4px;
border-radius: 10px;
margin: 200px auto 0 auto;
opacity: 0.8;
width: 80%;
}
#contact p {
background: #0c4da2;
color: #fff;
padding: 20px 20px;
text-align: left;
}
#contact .fieldset {
padding: 0 30px 40px 30px;
}
#contact .fieldset div {
margin-top: 40px;
}

#submit {
margin-top: 100px;
}

/**/
.overlay {
background: #000;
height: 100%;
opacity: 0.4;
}
.wrapper {
left: 0;
position: absolute;
top: 0;
width: 100%;
}

#page-success .share {
background: url("../images/sprite.png") no-repeat 0 -1600px;
height: 113px;
position: absolute;
right: 20px;
top: 10px;
width: 496px;
}
#page-success .share p {
bottom: 15px;
color: #0c4da2;
cursor: pointer;
font-size: 24px;
left: 80px;
position: absolute;
text-align: center;
}

#page-success .msg {
background: #fff;
border: #0c4da2 solid 4px;
border-radius: 10px;
margin: 300px auto 0 auto;
width: 80%;
}
#page-success .msg span {
background: url("../images/sprite.png") no-repeat 0 -1800px;
display: block;
height: 125px;
margin: 50px auto 0 auto;
width: 135px;
}
#page-success .msg p {
color: #0c4da2;
font-size: 38px;
padding: 50px 15px;
}

/**/
#page-fail .share {
background: url("../images/sprite.png") no-repeat 0 -2000px;
height: 96px;
position: absolute;
right: 20px;
top: 10px;
width: 389px;
}
#page-fail .share p {
bottom: 15px;
color: #fff;
cursor: pointer;
font-size: 28px;
left: 60px;
position: absolute;
text-align: center;
}

#page-fail .msg {
background: url("../images/sprite.png") no-repeat 0 -2300px;
border-radius: 10px;
margin: 300px auto 0 auto;
position: relative;
width: 80%;
}
#page-fail .msg em {
background: url("../images/sprite.png") no-repeat 0 -2100px;
height: 142px;
left: 20px;
position: absolute;
top: -30px;
width: 132px;
}
#page-fail .msg div {
color: #fff;
padding: 20px 20px;
}
#page-fail .msg div span {
font-size: 46px;
}
#page-fail .msg p {
background: #fff;
border: #0c4da2 solid 4px;
font-size: 24px;
padding: 100px 15px;
}
