@charset "UTF-8";

@import url("reset.css");

/**
 * [Typography]
 *
 * background-color	{@value}
 * border-color		{@value}
 * color			{@value}
 * font-family		{@value}
 * font-size		{@value}
 */

/* Document */
body {
background: url("../images/bg.jpg") no-repeat center 0;
color: #666;
/*
font-family: Arial;
font-size: 12px;
*/
text-align: center;
/*
word-break: break-all;
word-wrap: break-word;
*/
}

/* Hypertext */
a:link {
color: #333;
text-decoration: underline;
}
a:visited {
color: #333;
text-decoration: underline;
}
a:hover {
color: #333;
text-decoration: underline;
}
a:active {
}

/* Form */
input, select, textarea {
font-family: Arial;
}

/*------------------------------------*/
.ui-content {
font-weight: bold;
margin: 0 auto;
max-width: 640px;
}

#game {
margin: 40px auto 0 auto;
overflow: hidden;
}
#game div {
float: left;
/*margin: 0 auto;*/
position: relative;
width: 33.3%;
}
#game span {
border: 1px solid red;
border-radius: 18px;
height: 36px;
left: 135px;
position: absolute;
top: 20px;
width: 36px;
}

#rule {
color: #0c4da2;
margin: 40px auto 0 auto;
}
#rule span {
display: none;
}

/*
#slogan {
background: #c0c0c0;
border-radius: 10px;
color: #333;
display: none;
font-weight: bold;
margin: 0 auto;
opacity: 0.8;
padding: 5px;
}
*/

#start {
margin: 100px auto;
}
#start span {
background: url("../images/sprite.png") no-repeat 0 0;
cursor: pointer;
display: block;
height: 159px;
margin: 0 auto;
width: 159px;
}

#timer {
height: 69px;
text-align: left;
}
#timer div {
background: url("../images/sprite.png") no-repeat 0 -200px;
height: 100%;
left: 15px;
padding: 15px 0 0 15px;
position: relative;
width: 224px;
}
#timer span {
color: #0c4da2;
font-family: Georgia;
font-size: 2.5em;
}

#tip {
display: none;
margin: 150px auto 0 auto;
}
#tip span {
border: #0c4da2 solid 4px;
border-radius: 10px;
color: #0c4da2;
padding: 15px 5px 15px 55px;
position: relative;
text-indent: 2em;
}
#tip span em {
background: url("../images/sprite.png") no-repeat 0 -300px;
height: 37px;
left: 10px;
position: absolute;
top: 5px;
width: 37px;
}
