@charset "UTF-8";

@import url("reset.css");

/**
 * [Typography]
 *
 * background-color	{@value}
 * border-color		{@value}
 * color			{@value}
 * font-family		{@value}
 * font-size		{@value}
 */

/* Document */
body {
color: #333;
font-family: "微软雅黑", Arial;
font-size: 12px;
margin: 15px 10px;
text-align: center;
/*
word-break: break-all;
word-wrap: break-word;
*/
}

/* Hypertext */
a:link {
color: #333;
text-decoration: underline;
}
a:visited {
color: #333;
text-decoration: underline;
}
a:hover {
color: #333;
text-decoration: underline;
}
a:active {
}

/* Form */
input, select, textarea {
font-family: "微软雅黑", Arial;
}
