@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900,900i');

/**
 * style.css
 */

#container {
    width: 100%;
}

body {
    font-family: 'KlavikaWebBasicRegular', 'titillium_webregular', "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background-image: url("assets/background2.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    background-attachment: fixed;
    color: #fff;
    font-style: normal;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3;
    padding: 15px 0 0; /* 51 = navbar height */
    height: auto;
    overflow-y: scroll;
	overflow-x: hidden;
    min-height: 100vh;
}


@media (orientation: landscape)  {
.template__collapse p {
    font-size: 0px;
    color: #000;
    padding-bottom: -6px;
    padding-top: 8px;
	background: none;
}
}

@media (max-width: 991px) {
body {
     overflow: auto;
}
}

.template__body {
    color: #fff;
    background-color: #fff;
}

@media (max-width: 1599px) {
.template__body {
    color: #fff;
	background-color: #fff;
	border-bottom: 0px solid #d6d6d6;
}
}

@media (orientation: landscape){
.template__content {
    margin-top: 60px;
}
}

.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.boxx {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
}

.nowrap {
    white-space: nowrap;
}

b {
	font-family: 'KlavikaWebBasicBold' 'titillium_webbold';
}

a {
    color: #f26522;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

.dropup .dropdown-menu {
    top: 100%;
    bottom: auto;
    margin-top: 0;
    margin-bottom: .125rem;
}

.obj {
    width: 100%;
    margin: auto;
    background: #1d1d1d;
    background: #3f3f3f;
    background: -moz-linear-gradient(-45deg, #3f3f3f 0%, #0d0d0d 34%, #010101 50%, #0a0a0a 64%, #282828 76%, #383838 87%, #1b1b1b 100%);
    background: -webkit-linear-gradient(-45deg, #3f3f3f 0%,#0d0d0d 34%,#010101 50%,#0a0a0a 64%,#282828 76%,#383838 87%,#1b1b1b 100%);
    background: linear-gradient(135deg, #3f3f3f 0%,#0d0d0d 34%,#010101 50%,#0a0a0a 64%,#282828 76%,#383838 87%,#1b1b1b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#1b1b1b',GradientType=1 );
    padding-bottom: 10px;
}

@media (max-width: 991px) {
   .dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: .125rem;
}
}


.dropdown-menu-right {
    right: 0;
    left: auto!important;
}


.dropdown-menu {
    padding: 10px;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 1rem 1rem;
    margin: .125rem 0 0;
    font-size: 12px;
    color: #4b5e70;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid rgb(75, 94, 112);
    border-radius: .25rem;
}

@media (orientation: portrait){
.template__menu-item {
    display: flex;
    padding: 20px 38px;
    font-weight: 400;
    color: #4b5e70;
    /* width: 80%; */
    font-size: 10px;
    color: #4b5e70;
}
}

.template__menu-item {
    cursor: pointer;
    border-bottom: 1px solid rgb(75, 94, 112);
    padding: 3px;
}


.template__menu-item:hover {
       cursor: pointer;
    border-bottom: 1px solid rgb(75, 94, 112);
    padding: 3px;
    color: #fff;
    background: #f26522;
}



/*
.template__navbar {
    padding-top: 4px;
    padding-bottom: 4px;
}
*/

.progress-bar {
    background-color: #f26522;
}

.bg-light {
    background-color: #000000!important;
    border-bottom: 2px solid #f26522;
}

.progress {
    font-size: .75rem;
    background-color: #484848;
    border-radius: 0;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    background-color: #000000;
    border: 2px solid #000;
    vertical-align: middle;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border: 2px solid #f26522;
    padding: .375rem 0.75rem;
    font-size: 1rem;
    margin-left: 0%;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/**
 * Picture Frames
 */
  .icon-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
	margin-bottom: 10px;
}

.icon-responsive-left {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-left: 0px;
    margin-right: 15px;
    float: left;
	margin-bottom: 10px;
}


.icon-responsive-right {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
	margin-left: 15px;
    margin-right: 0px;
	float: right;
	margin-bottom: 10px;
}


/**
 * Picture Frames
 */
 .img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
}

.img-responsive-right {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
	margin-left: 20px;
    float: right;
	margin-bottom: 10px;
}

.img-responsive-left {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
	margin-right: 20px;
    float: left;
	margin-bottom: 10px;
}




unl {
  text-decoration: underline;
}




.img-bs {
	display: block;
    position: absolute;
    top: 72px;
    right: 19px;
    max-width: 2%;
    height: auto;
    margin: auto;
}


@media (max-width: 1499px) {
.img-bs {
         top: 58px;
    right: 4px;
    max-width: 3%;
    }
}

@media (max-width: 991px) {
.img-bs {
	 top: 94px;
    right: 14px;
    max-width: 6%;
    }
}


@media (max-width: 576px) {
.img-bs {
    top: 44px;
    right: 3px;
    max-width: 7%;
    }
}



/**
 * Container
 */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    background: none;
    border: none;
    height: 650px;
    border-radius: 3px;
    margin-top: 60px;
}

@media (min-width: 576px) {
    .container {
        max-width: 730px;
		margin-top: 0px;
		height: 100%;
		border-radius: 0px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 730px;
		margin-top: 0px;
		height: 100%;
		border-radius: 0px;
		padding-top: 10px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 864px;
		margin-top: 0px;
		height: 90%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 864px;
		margin-top: 20px;
		height: auto;
		max-height: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
		margin-top: 60px;
		height: auto;
		min-height: 650px;
    }
}

@media (max-width: 992px) {
.template__arrow-lg-icon {
    font-size: 91px;
}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
}

@media (max-width: 576px) {
    .img-responsive {
       max-width: 80%;
    }
}

@media (max-width: 768px) {
    .img-responsive {
        max-width: 83%;
    }
}

@media (max-width: 992px) {
    .img-responsive {
        max-width: 85%;
    }
}

@media (max-width: 1200px) {
    .img-responsive {
        max-width: 87%;
    }
}



h1 {
    font-size: 43px;
    background-image: url(assets/course/header-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px 0;
    text-align: center;
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1199px) {
    h1 {
        font-size: 37px;
    }
}

@media (max-width: 991px) {
    h1 {
        font-size: 27px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 19px;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1;
    color: inherit;
}

h1, .h1 {
    margin-bottom: 1.9rem;
}


.h1--red {
    font-size: 54px;
    text-align: center;
    color: #f1161f;
    text-transform: uppercase;
}

/* Slash before and after headings */
h1::before,
h1::after {
    content: '/';
    color: #f1161f;
    margin: 0 20px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
	line-height: 1;
}


red {
    color: #e51505;
}


b, strong {
    font-weight: bolder;
    font-family: 'KlavikaWebBasicBold', 'titillium_webbold';
}



center {
	text-align: center;
}
/* H3 */

h3 {
    font-size: 87px;
    text-align: left;
    font-family: 'KlavikaWebLightCondensed', arial;
    text-transform: uppercase;
    line-height: 80px;
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
}

.ie11 #pages h3, .ie10 #pages h3 {
    background: none;
    color: #fff;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   h3 {
    background: none!important;
    color: #fff!important;
}
}

@media (max-width: 1550px) {
    h3 {
        font-size: 70px;
		margin-top: 1%;
		line-height: 65px;
    }
}

@media (max-width: 1199px) {
    h3 {
            font-size: 70px;
    margin-top: 3%;
    }
}

@media (max-width: 991px) {
    h3 {
        font-size: 53px;
    margin-top: 5%;
    line-height: 51px;
    }
}


@media (max-width: 576px) {
    h3 {
        font-size: 32px;
		margin-top: 3%;
		line-height: 32px;
    }
}


/* H4 */

h4 {
    font-size: 43px;
    text-align: left;
	font-family: 'KlavikaWebBasicLight' arial;
    text-align: center;
    margin-top: 2%;
}

.ie11 #pages h4, .ie10 #pages h4 {
    background: none;
    color: #fff;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   h4 {
    background: none!important;
    color: #fff!important;
}
}


@media (max-width: 1199px) {
    h4 {
        font-size: 26px;
    }
}

@media (max-width: 991px) {
    h4 {
        font-size: 31px;
    }
}

@media (max-width: 767px) {
    h4 {
        font-size: 26px;
    }
}

@media (max-width: 576px) {
    h4 {
        font-size: 26px;
    }
}

h42 {
    font-size: 36px;
    text-align: left;
	font-family: 'KlavikaWebBasicLight' arial;
   text-align: center;

}

.ie11 #pages h42, .ie10 #pages h42 {
    background: none;
    color: #fff;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   h42 {
    background: none!important;
    color: #fff!important;
}
}


@media (max-width: 1199px) {
    h42 {
        font-size: 26px;
    }
}

@media (max-width: 991px) {
    h42 {
        font-size: 31px;
    }
}

@media (max-width: 767px) {
    h42 {
        font-size: 26px;
    }
}

@media (max-width: 576px) {
    h42 {
        font-size: 26px;
    }
}

/* H5 */

h5 {
    font-size: 38px;
    text-align: left;
   text-align: center;
   font-family: 'KlavikaWebBasicLight' arial;
   text-align: center;

}

.ie11 #pages h5, .ie10 #pages h5 {
    background: none;
    color: #fff;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   h5 {
    background: none!important;
    color: #fff!important;
}
}


@media (max-width: 1199px) {
    h5 {
        font-size: 24px;
    }
}

@media (max-width: 991px) {
    h5 {
        font-size: 31px;
    }
}

@media (max-width: 767px) {
    h5 {
        font-size: 26px;
    }
}

@media (max-width: 576px) {
    h5 {
        font-size: 23px;
    }
}

/* P */


p {
    margin-top: 0;
    font-size: 32px;
    margin-bottom: 1rem;
    line-height: 31px;
    font-weight: 300;
    text-align: left;
    font-family: 'KlavikaWebBasicRegular', 'titillium_webregular';
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(315deg, #ffffff 0%, #3e3e3e 74%);
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 160%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#dddddd 160%);
    background: linear-gradient(to bottom, #ffffff 0%,#3e3e3e 160%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ie11 #pages p, .ie10 #pages p {
    background: none;
    color: #fff;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   p {
    background: none!important;
    color: #fff!important;
}
}

@media (max-width: 1550px) {
    p {
        font-size: 26px;
    }
}


@media (max-width: 767px) {
    p {
        font-size: 26px;
    }
}

@media (max-width: 576px) {
    p {
        font-size: 18px;
		line-height: 18px;
    }
}

/* ol, ul, dl */

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style-position: outside;
    margin-left: -6px;
    font-size: 26px;
    text-align: left;
}

@media (max-width: 1199px) {
    ol, ul, dl {
        font-size: 80%;
    }
}

@media (max-width: 991px) {
    ol, ul, dl {
         font-size: 75%;
    }
}

@media (max-width: 767px) {
    ol, ul, dl {
       font-size: 50%;
    }
}

li {
    margin-bottom: 8px;
}

@media (max-width: 1199px) {
    li {
        margin-bottom: 2px;
    }
}

@media (max-width: 991px) {
    li {
       margin-bottom: 2px;
    }
}

@media (max-width: 767px) {
    li {
        margin-bottom: 2px;
    }
}

sub, sup {
    position: relative;
    font-size: 58%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: .55em;
}



ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

/**
 * Countdown for quiz
 */

.countdown-slide {
    position: absolute;
    top: 51px; /* navbar height */
    left: 0;
    width: 100%;
    height: calc(100% - 51px); /* navbar height */
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    z-index: 1;
    opacity: 0;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    visibility: hidden;
}

@keyframes fade-in-out {
    0% {
        background-size: 40%;
    }

    50% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        background-size: 60%;
    }
}

.countdown-slide--3 {
    z-index: 4;
    background-image: url("assets/quiz/countdown-3.svg");
    animation-name: fade-in-out;
}

.countdown-slide--2 {
    z-index: 3;
    background-image: url("assets/quiz/countdown-2.svg");
    animation-name: fade-in-out;
    animation-delay: 1s;
}

.countdown-slide--1 {
    z-index: 2;
    background-image: url("assets/quiz/countdown-1.svg");
    animation-name: fade-in-out;
    animation-delay: 2s;
}

.countdown-slide--go {
    background-image: url("assets/quiz/countdown-go.svg");
    animation-name: fade-in-out;
    animation-delay: 3s;
}

.countdown-slide-overlay {
    position: absolute;
    top: 42px; /* navbar height */
    left: 0;
    width: 100%;
    height: calc(100% - 51px); /* navbar height */
    animation-name: fade-overlay-out;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
    opacity: 1;
    visibility: visible;
}

@keyframes fade-overlay-out {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/**
 * Fade in and up animation
 */

.fade-in-and-up,
.fade-in-and-up-color,
.fade-in-and-up-decal {
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.05, -0.02, 0.46, 1.6);
    animation-fill-mode: forwards;
}

.fade-in-and-up-1 { animation-delay: 0.5s }
.fade-in-and-up-2 { animation-delay: 0.8s }
.fade-in-and-up-3 { animation-delay: 1.1s }
.fade-in-and-up-4 { animation-delay: 1.4s }
.fade-in-and-up-5 { animation-delay: 1.7s }
.fade-in-and-up-6 { animation-delay: 2s }
.fade-in-and-up-7 { animation-delay: 2.3s }

.fade-in-and-up {
    animation-name: fade-in-and-up;
    opacity: 0;
    transform: translateY(25%);
}

@keyframes fade-in-and-up {
    0% {
        opacity: 0;
        transform: translateY(25%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-and-up-color {
    animation-name: fade-in-and-up-color;
    opacity: 0;
    transform: translateY(25%) scale(.9);
}

@keyframes fade-in-and-up-color {
    0% {
        opacity: 0;
        transform: translateY(25%) scale(.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(.9);
    }
}

.fade-in-and-up-decal {
    animation-name: fade-in-and-up-decal;
    opacity: 0;
    transform: translateY(25%) scale(.9);
}

@keyframes fade-in-and-up-decal {
    0% {
        opacity: 0;
        transform: translateY(25%) scale(.3);
    }

    100% {
        opacity: .5;
        transform: translateY(0) scale(.9);
    }
}

.scoreboard {
    text-transform: uppercase;
    text-align: center;
}
.scoreboard img {
    width: 400px;
    margin-top: 40px;
}
.scoreboard img.loader {
    width: 100px;
    height: 100px;
}

table.teams, table.team-members {
    margin-top: 20px;
}

.team-head-row,
.team-m-head-row {
    height: 40px;
}

.team-row,
.team-m-row {
    height: 30px;
}

.team-head-row th:first-child,
.team-m-head-row th:first-child,
.team-row td:first-child,
.team-m-row td:first-child {
    text-align: left;
    width: 10px;
}

.team-head-row th:nth-child(2),
.team-m-head-row th:nth-child(2),
.team-row td:nth-child(2),
.team-m-row td:nth-child(2) {
    text-align: left;
    width: 150px;
}

.team-head-row th:nth-child(3),
.team-m-head-row th:nth-child(3),
.team-row td:nth-child(3),
.team-m-row td:nth-child(3) {
    width: 300px;
}

.team-head-row th:nth-child(4),
.team-m-head-row th:nth-child(4),
.team-row td:nth-child(4),
.team-m-row td:nth-child(4) {
    width: 200px;
    text-align: right;
}

.team-head-row th:nth-child(4),
.team-m-head-row th:nth-child(4) {
    padding-right: 30px;
}

.team-row td:nth-child(4),
.team-m-row td:nth-child(4) {
    padding-right: 60px;
}

@media (max-width: 575px) {
	.page.quiz1 h1,
	.page.quiz2 h1,
	.page.quiz3 h1,
	.page.quiz4 h1,
	.page.quiz5 h1,
	.page.quiz6 h1 {
		margin-top: 5px;
	}
}

@media (max-width: 575px) {
    .feedback-submit {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}

.forecasting-scores__box {
    padding: 10px;
    margin-bottom: 0;
}

.forecasting-scores__box--red {
    margin-top: 50px;
    background: #f1161f;
}

.forecasting-scores__box--red2 {
    background: #771d21;
}

.column2 {
	position: relative;
	float: left;
	width: 440px;
	margin: 0 5px 0 5px;
}

.form-control {
       display: block;
    width: 100%;
    padding: 0.975rem 0.75rem;
    font-size: 23px;
    line-height: 1.5;
    color: #495057;
}

.su {
	line-height: 12px;
}

.su {
    position: relative;
    font-size: 10px;
    line-height: 16px;
    padding-top: 14px;
    text-align: left;
    vertical-align: baseline;
}

@media (max-width: 991px) {
.su {
    position: relative;
    font-size: 10px;
    line-height: 13px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    vertical-align: baseline;
}
}

sub, sup {
    position: relative;
    font-size: 40%;
    line-height: 0;
    vertical-align: baseline;
    color: #fff;
    -webkit-text-fill-color: white;
}

sub {
    bottom: 1em;
}

sub2, sup2 {
    position: relative;
    font-size: 40%;
    line-height: 0;
    vertical-align: baseline;
    color: #f26522;
    -webkit-text-fill-color: #f26522;
}

sub2 {
    bottom: 1em;
}
