
@-webkit-keyframes headerfadeinfromtop2 {
	0%   { opacity: 0; transform: translate3d(0, 0, 0); }
	100% { opacity: 1; transform: translate3d(0, 5px, 0); }
}
@keyframes headerfadeinfromtop2 {
	0%   { opacity: 0; transform: translate3d(0, 0, 0); }
	100% { opacity: 1; transform: translate3d(0, 5px, 0); }
}

@-webkit-keyframes headerfadeinfromtop2cv {
	0%   { transform: translate3d(0, 77px, 0); }
	100% { transform: translate3d(0, 0, 0); }
}
@keyframes headerfadeinfromtop2cv {
	0%   { transform: translate3d(0, 77px, 0); }
	100% { transform: translate3d(0, 0, 0); }
}
.page[id^="video"] {
	flex-direction: column;
	overflow: hidden;
 }
.page[id^="video"] h1 {
	opacity: 0;
	animation: headerfadeinfromtop2 .5s linear 0s 1 normal forwards;
	-webkit-animation: headerfadeinfromtop2 .5s linear 0s 1 normal forwards;
	transform: translate3d(0, 5px, 0);
}
.page[id^="video"] .container-video {
	animation: headerfadeinfromtop2cv .5s linear 0s 1 normal forwards;
	-webkit-animation: headerfadeinfromtop2cv .5s linear 0s 1 normal forwards;
}
.page[id^="video"] .container-fluid {
	flex: 0 0 auto;
}
.page[id^="video"] .container-video {
	flex: 1 0 auto;
	padding-bottom: 43px;
	padding-top: 10px;
}
.page[id^="video"] .container-video .mejs__video {
	margin: 0 auto;
	overflow: hidden;
}
