@charset "utf-8";
/* CSS Document */

body,html{margin:0px; padding:0px; height:100%; width:100%;}
ul{margin:0px; padding:0px; list-style:none;}
#box{width:100%; height:100%; position:relative; z-index:1;}
.box{width:100%; height:100%;  background-size:cover; position:absolute; display:none; top:100%;}
#box1 {background:url(../img/img1.jpg) center top no-repeat; z-index:10; display:block; top:0;}
#cav { display:block; top:0; width:100%; height:100%; z-index:10;}
#canvas { z-index:10; display:block; top:0; margin:auto; z-index:1;}
#indextext{ background:url(../img/indextext.png) no-repeat; width:568px; height:66px; position:absolute; z-index:2; top:50%; left:50%; margin:-128px 0 0 -284px;}
#index_1{ background:url(../img/index_1.png) no-repeat; width:240px; height:31px; overflow:hidden; position:absolute; z-index:2; top:50%; left:50%; margin:-25px 0 0 -171px;}
#index_2{ background:url(../img/index_2.png) no-repeat; width:73px; height:85px; overflow:hidden; position:absolute; z-index:3; top:50%; left:50%; margin:-12px 0 0 -32px;}
#sd{width:100%; height:90px; background:url(../img/bg_op.png); position:absolute; top:50%; margin-top:-52px; left:0%; text-align:center; z-index:2; opacity:0;}
#indexmain{width:100%; height:173px; position:absolute; top:50%; margin-top:81px; text-align:center; z-index:3; opacity:0;}
#hdts{ width:108px; height:60px; background:url(../img/hdts.png) no-repeat; left:50%; margin-left:-54px; bottom:14px; position:absolute; z-index:10; opacity:0;}

#box2 {background:url(../img/img2.jpg) center bottom no-repeat; z-index:9; top:0;}

#sd2{width:100%; height:418px; background:url(../img/sd2.png) left top no-repeat; position:absolute; top:0px; left:0px;   text-align:center; z-index:2; opacity:0;}
#main2{width:100%; height:49px; position:absolute; top:30px; background:url(../img/main2flower.png) center center no-repeat; overflow:hidden; }
#main2 li{width:100%; color:#fff; position:absolute; opacity:0; text-align:center; font-size:22px; line-height:49px; height:49px; overflow:hidden;}
#sd3{width:100%; height:484px; background:url(../img/sd3.png) left top no-repeat; position:absolute; top:0px; left:0px;  text-align:center; z-index:2; opacity:0;}
#box3 {background:url(../img/img3.jpg) center bottom no-repeat; z-index:8}
#main3{width:100%; height:49px; position:absolute; top:30px; background:url(../img/main2flower.png) center center no-repeat; overflow:hidden; }
#main3 li{width:100%; color:#fff; position:absolute; opacity:0; text-align:center; font-size:22px; line-height:49px; height:49px; overflow:hidden;}
#box4 {background:url(../img/img4.jpg) center center no-repeat; z-index:7}
#sd4{width:100%; height:338px; background:url(../img/sd4.png) right top no-repeat; position:absolute; top:0px; right:0px; z-index:2; opacity:0;}
#box5 {background:url(../img/img5.jpg) center center no-repeat; z-index:6}
#sd5{width:100%; height:338px; background:url(../img/sd5.png) left top no-repeat; position:absolute; top:0px; left:0px; z-index:2; opacity:0;}
#box6 {background:url(../img/img6.jpg) center center no-repeat; z-index:5}
#sd6{width:100%; height:338px; background:url(../img/sd6.png) left bottom no-repeat; position:absolute; bottom:0px; left:0px;   z-index:2; opacity:0;}
#box7 {background:url(../img/img7.jpg) center center no-repeat; z-index:4}
#sd7{width:100%; height:338px; background:url(../img/sd7.png) right bottom no-repeat; position:absolute; bottom:0px; right:0px;   z-index:2; opacity:0;}
#box8 {background:url(../img/img8.jpg) center bottom no-repeat; z-index:3}
#sd8{width:0%; height:106px; background:url(../img/bg_op.png); position:absolute; bottom:264px;  text-align:center; z-index:2; opacity:0; display:none;}
#box9 {background:url(../img/img9.jpg) center center no-repeat; z-index:2}
#sd9{width:100%; height:352px; background:url(../img/sd9.png) left bottom no-repeat; position:absolute; bottom:0px; left:0px; text-align:center; z-index:2; opacity:0;}
#box10 {background:url(../img/img10.jpg) center center no-repeat; z-index:1}
#sd10{width:100%; height: 259px; background:url(../img/img10s.jpg) no-repeat  center center; position:absolute;  text-align:center; z-index:2; top:50%;   margin-top:55px  ; opacity:0;}
#box11 {background:url(../img/img11.jpg) center center no-repeat; z-index:2; top:0px; opacity:0;}
#sd11{width:0%; height:285px; background:url(../img/bg_op.png) ; position:absolute;  text-align:center; z-index:2; bottom:0px; opacity:0;}
#sd11_1{ background:url(../img/11_1.png)  no-repeat; width:350px; height:120px; position:absolute; left:50%; margin-left:-175px; top:29px;}
#sd11s{width:100%; height:82px; background:url(../img/bg_op2.png) ; position:absolute;  text-align:center; z-index:2; top:154px;  }

/*           loading            */

#loading{ width:200px; position:absolute; top:50%; left:50%; margin-left:-100px; margin-top:-85px; color:#B9934D; font-size:1.3em; text-align:center; filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5;}
#unmbers{ font-size:3em; font-weight:bold;}
#sd10x{background:url(../img/img10x.jpg) center center no-repeat; background-size:100% 100%; width:0px; height:0px; position: absolute; top:50%; left:50%; margin:-195px 0 0 -4px; border-radius:50%;  z-index:3;}