@charset "UTF-8";

@import url("../js/impress/0.5.3/impress-demo.css");

/**
 * [Typography]
 *
 * background-color	{@value}
 * border-color		{@value}
 * color			{@value}
 * font-family		{@value}
 * font-size		{@value}
 */

/* Document */
body {
background: url("../images/bg.jpg") no-repeat center center;
background-size: 100% 100%;
color: #333;
font-family: Arial, "微软雅黑";
font-size: 12px;
/*
word-break: break-all;
word-wrap: break-word;
*/
}

/* Hypertext */
a:link {
color: #333;
text-decoration: underline;
}
a:visited {
color: #333;
text-decoration: underline;
}
a:hover {
color: #333;
text-decoration: underline;
}
a:active {
}

/* Form */
input, select, textarea {
font-family: Arial, "微软雅黑";
}


/**/
#impress .item {
height: 200px;
padding: 0;
width: 200px;
}
#impress .item img {
border-radius: 10px;
box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
height: 100%;
width: 100%;
}

#winner {
height: 450px;
padding: 0;
text-align: center;
width: 600px;
}
#winner div {
background: url("../images/winner-bg.png") no-repeat 0 bottom;
bottom: -80px;
height: 502px;
left: -200px;
position: absolute;
width: 293px;
}
#winner img {
border-radius: 10px;
box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
height: 100%;
width: 100%;
}

#award {
background: url("../images/award-bg.png") no-repeat center bottom;
color: #ffd700;
font-size: 50px;
height: 110px;
left: 0;
position: fixed;
right: 0;
text-align: center;
text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
top: 20px;
}
#award em {
position: absolute;
right: -1.5em;
top: 0;
}
#award em,
#award span {
color: #eee;
font-style: normal;
font-weight: bold;
}
#award sub {
font-size: 0.5em;
position: absolute;
vertical-align: text-top;
}

#ready {
color: #eee;
font-family: Impact;
font-size: 50px;
left: 0;
position: fixed;
right: 0;
text-align: center;
text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
top: 50%;
}

#msg {
background: rgba(0, 0, 0, 0.5);
color: #eee;
font-size: 1.5em;
font-variant: small-caps;
padding: 20px;
position: fixed;
right: 0;
text-align: right;
text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
top: 0;
}
